@{
    ViewBag.Title = "Dashboard";
   
}

<!-- Site Content Wrapper -->
<div class="dt-content-wrapper">

    <!-- Site Content -->
    <div class="dt-content">

        <!-- Brand tool -->
        <div class="dt-brand__tool mb-8 d-lg-none" data-toggle="main-sidebar">
            <div class="hamburger-inner"></div>
        </div>
        <!-- /brand tool -->
        <!-- Page Header -->
        <div class="dt-page__header">
            <h1 class="dt-page__title">Facturacion</h1>
        </div>

        <div class="alert alert-warning" role="alert">
            Ejemplo de alerta al saber que cliente No tiene credito disponible o tiene creditos vencidos.
            <a href="javascript:void(0)" class="alert-link">
                Ver historial
            </a>

        </div>

        <!-- /page header -->
        <!-- Grid -->
        <div class="row">
            <div class="col-xl-12">
                <!-- Card -->
                <div class="card dt-card-carousel">

                    <!-- Card Body -->
                    <div class="card-body p-0">
                        <div class="row no-gutters h-100">
                            <div class="col-sm-12 order-sm-1">
                                <!-- Carousel -->
                                <div class="owl-carousel owl-theme">
                                    <!-- Card Body -->
                                    <div class="card-body">

                                        <!-- Card Title-->
                                        <span class="d-block f-16 text-light-gray mb-2">Ingreso de Cliente</span>
                                        <h2 class="card-title font-weight-normal">Busqueda por DUI, NRC o Nombre de Cliente</h2>
                                        <!-- Card Title-->
                                        <!-- Content Area -->
                                        <div>

                                            <select class="form-control js-example-responsive" multiple="multiple" style="width: 100%">
                                                <option value="C0001">DUI: 00348348 - NCR: 022323923 - NOMBRE: Cliente Texaco</option>
                                            </select><br /><br />
                                            <button class="btn btn-secondary">Siguiente</button>
                                        </div>
                                        <!-- /content area -->
                                        <br />
                                        <br />
                                        <br />
                                        <div class="mb-3">
                                            <a href="#" class="d-flex align-items-center">
                                                <i class="icon icon-info mr-2"></i>
                                                <span class="text-dark f-12">Click aqui si el cliente no existe</span>
                                            </a>
                                        </div>

                                    </div>
                                    <!-- /card body -->
                                    <!-- Card Body -->
                                    <div class="card-body">

                                        <!-- Card Title-->
                                        <span class="d-block f-16 text-light-gray mb-2">Step-2</span>
                                        <h2 class="card-title font-weight-normal">Create your account “FREE”</h2>
                                        <!-- Card Title-->
                                        <!-- Content Area -->
                                        <p class="card-text">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem
                                            blanditiis consectetur ducimus error est et fugiat impedit in
                                            ipsam, odio omnis, praesentium quas rem repellendus.
                                        </p>
                                        <!-- /content area -->

                                        <div class="mb-3">
                                            <a href="#" class="d-flex align-items-center">
                                                <i class="icon icon-play-circle-o mr-2"></i>
                                                <span class="text-dark f-12">How it works</span>
                                            </a>
                                        </div>

                                    </div>
                                    <!-- /card body -->
                                    <!-- Card Body -->
                                    <div class="card-body">

                                        <!-- Card Title-->
                                        <span class="d-block f-16 text-light-gray mb-2">Step-3</span>
                                        <h2 class="card-title font-weight-normal">Create your account “FREE”</h2>
                                        <!-- Card Title-->
                                        <!-- Content Area -->
                                        <p class="card-text">
                                            Consectetur adipisicing elit. Autem
                                            blanditiis consectetur ducimus error est et fugiat impedit in
                                            ipsam, odio omnis, praesentium quas rem repellendus
                                            reprehenderit sequi suscipit veritatis vitae.
                                        </p>
                                        <!-- /content area -->

                                        <div class="mb-3">
                                            <a href="#" class="d-flex align-items-center">
                                                <i class="icon icon-play-circle-o mr-2"></i>
                                                <span class="text-dark f-12">How it works</span>
                                            </a>
                                        </div>

                                    </div>
                                    <!-- /card body -->
                                </div>
                                <!-- /carousel -->
                            </div>
                        </div>
                    </div>
                    <!-- /card body -->

                </div>
                <!-- /card -->

            </div>
        </div>
        <!-- /grid -->


    </div>
        <!-- /site content -->
        <!-- Footer -->
        @Html.Partial("~/Views/Shared/Footer.cshtml")
        <!-- /footer -->

    </div>
<!-- /site content wrapper -->