
@{
    Layout = null;
}
<!-- Meta tags -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Drift - A fully responsive, HTML5 based admin template">
<meta name="keywords" content="Responsive, HTML5, admin theme, business, professional, jQuery, web design, CSS3, sass">
<!-- /meta tags -->
<title>Drift - Admin Template</title>

<!-- Site favicon -->
<link rel="shortcut icon" href="~/Content/assets/images/favicon.ico" type="image/x-icon">
<!-- /site favicon -->
<!-- Font Icon Styles -->
<link rel="stylesheet" href="~/Content/node_modules/flag-icon-css/css/flag-icon.min.css">
<link rel="stylesheet" href="~/Content/vendors/gaxon-icon/styles.css">
<!-- /font icon Styles -->
<!-- Perfect Scrollbar stylesheet -->
<link rel="stylesheet" href="~/Content/node_modules/perfect-scrollbar/css/perfect-scrollbar.css">
<!-- /perfect scrollbar stylesheet -->
<!-- Load Styles -->
<link rel="stylesheet" href="~/Content/node_modules/owl.carousel/dist/assets/owl.carousel.min.css">
<link rel="stylesheet" href="~/Content/node_modules/chartist/dist/chartist.min.css">
<link rel="stylesheet" href="~/Content/assets/css/style.min.css">
<!-- Data table stylesheet -->
<link href="~/Content/node_modules/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />

<!-- /load styles -->
<style>

    /*DATATABLES*/
    table#table_facturas {
        border-collapse: collapse;
        margin: 0;
        padding: 0;
        width: 100%;
    }

        table#table_facturas tr {
            padding: .35em;
        }

        table#table_facturas th, table td {
            padding: .625em;
            text-align: left;
        }

        table#table_facturas th {
            font-size: .9em;
            letter-spacing: .1em;
            text-transform: uppercase;
        }

        table#table_facturas td {
            font-size: .3em;
        }
    /**/
    @@media screen and (max-width: 2000px) {

        table#table_facturas td {
            font-size: .9em;
        }
    }

    @@media screen and (max-width: 850px) {
        table#table_facturas th {
            font-size: .8em;
            letter-spacing: .1em;
            text-transform: uppercase;
        }

        table#table_facturas td {
            font-size: .7em;
        }
    }



    /**/
    @@media screen and (max-width: 530px) {

        table#table_facturas {
            border: 0;
        }

            table#table_facturas thead {
                display: none;
            }

            table#table_facturas tr {
                border-bottom: 3px solid #ddd;
                display: block;
                margin-bottom: 2.625em;
            }

            table#table_facturas td {
                border-bottom: 1px solid #ddd;
                display: block;
                font-size: .8em;
                text-align: right;
            }

                table#table_facturas td:before {
                    content: attr(data-label);
                    float: left;
                    font-weight: bold;
                    text-transform: uppercase;
                }

                table#table_facturas td:last-child {
                    border-bottom: 0;
                }
    }
    /**/
    /*END DATATABLES*/

    /*DOTS SLIDER*/
    .owl-dots {
        display:none;
    }
</style>