
@{
    Layout = null;

}

<script>
    var categoria = "";
    var subcategoria = "";


    function seleccionarContribuyente(id) {
        if (id == '1') {
            document.getElementById("personaNatural").style.display = "block";
            document.getElementById("personaJuridica").style.display = "none";
        } else if (id == '2') {
            document.getElementById("personaJuridica").style.display = "block";
            document.getElementById("personaNatural").style.display = "none";
        }
    }

    function enviarDatos() {
        //funcion para guardar Cliente en tiempo real
        var nombre = $("#name").val();
        var correo = $("#email").val();
        var telefono = $("#telephone").val();
        var direccion = $("#direccion").val();
        var departamento = $("#departamento").val();
        var tipoContribuyente = $("#tipoContribuyente").val();

        var dui = "";
        var nrc = "";
        var contribuyente = "";
        var nit = "";
        var flag = 0;//Si la bandera es 0, no se valida.

        if (tipoContribuyente == "1") {
            nrc = "";
            contribuyente = "03";
            nit = "";

            dui = $("#dui").val();

            if (nombre != "" && correo != "" && telefono != "" && direccion != "" && departamento != "" && tipoContribuyente != "" && dui != "") {
                flag = 1;
            }

        } else if (tipoContribuyente == "2") {
            dui = "";
            nrc = $("#nrc").val();
            contribuyente = $("#contribuyente").val();
            nit = $("#nit").val();

            if (nombre != "" && correo != "" && telefono != "" && direccion != "" && departamento != "" && tipoContribuyente != "" && nrc != "" && contribuyente != "" && nit != "") {
                flag = 1;
            }
        }


        if (flag == 1) {
            //ejecutamos AJAX
            $.ajax
                ({
                    url: '/Invoices/Save_newCustomer',
                    type: 'POST',
                    datatype: 'application/json',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        nombre: nombre,
                        correo: correo,
                        telefono: telefono,
                        direccion: direccion,
                        departamento: departamento,
                        tipoContribuyente: tipoContribuyente,
                        dui: dui,
                        nrc: nrc,
                        contribuyente: contribuyente,
                        nit: nit
                    }),
                    success: function (result) {
                        //result.flag - result.lstNuevoCliente
                        if (result.flag == "Success") {
                            
                            $.each($.parseJSON(result.lstNuevoCliente), function (i, nuevocliente) {
                                $("#cliente").append($('<option selected></option>').val(nuevocliente.ID_customer).html("DUI: " + nuevocliente.DUI + " - NRC: " + nuevocliente.NRC + "- NOMBRE: " + nuevocliente.Nombre + ""));

                                $("#codcliente_factura").val(nuevocliente.ID_customer);
                                $("#nombreCliente").val(nuevocliente.Nombre);
                                $("#duic").val(nuevocliente.DUI);
                                $("#nrcc").val(nuevocliente.NRC);
                                $("#nitc").val(nuevocliente.NIT);
                                if (nuevocliente.Contribuyente == "01") {
                                    $("#tipocontribuyente").val("GRANDE");
                                } else if (nuevocliente.Contribuyente == "02") {
                                    $("#tipocontribuyente").val("PEQUENO/MEDIANO");
                                } else {
                                 
                                }

                                if (nuevocliente.Tipo_contribuyente == 1) {
                                    $("#tipocliente").val("PERSONA NATURAL");
                                } else if (nuevocliente.Tipo_contribuyente == 2) {
                                    $("#tipocliente").val("PERSONA JURIDICA");
                                } 
                                $("#CreditoActual").val("0");

                        
                                    $("#alertaCreditos").show();
                                    $("#tipopago option[value='" + "02" + "']").attr('disabled', true);
                                    $("#tipopago option[value='" + "02" + "']").css('color', '#dddddd');
                                
                            }
                            )
                            var toastsuccess = swal.mixin({
                                toast: true,
                                position: 'top-end',
                                showConfirmButton: false,
                                timer: 3000
                            });

                            toastsuccess({
                                type: 'success',
                                title: 'Cliente creado exitosamente.'
                            });

                            $('#form-modal').modal('hide');
                            document.getElementById("clientenoexiste").style.display = "none";
                        } else { //Error try catch
                            var toasterror = swal.mixin({
                                toast: true,
                                position: 'top-end',
                                showConfirmButton: false,
                                timer: 3000
                            });

                            toasterror({
                                type: 'info',
                                title: 'Ocurrio un error. ' + result.flag 
                            });
                        }


                    },
                    error: function () {
                        var toasterror = swal.mixin({
                            toast: true,
                            position: 'top-end',
                            showConfirmButton: false,
                            timer: 3000
                        });

                        toasterror({
                            type: 'info',
                            title: 'Algo salio mal, favor intentar nuevamente.'
                        });
                    },
                });
        } else {

            var toast = swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000
            });

            toast({
                type: 'info',
                title: 'Por favor, complete todos los campos.'
            });
        }
     

     
    }

    //BUSQUEDA DE PRODUCTOS
  
    function buscarProducto() {

        var sku = $("#codigosku").val();
        var descripcionprod = $("#descripcionprod").val();
        var codigobarras = $("#codigobarras").val();

        //SKU
        if (sku != "") {
            //ejecutamos AJAX
            $.ajax
                ({
                    url: '/Invoices/product_searchsku',
                    type: 'POST',
                    datatype: 'application/json',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        sku: sku
                    }),
                    success: function (result) {
                        //result.flag - result.lstNuevoCliente
                        if (result.flag == "Success") {
                            $("#listaproductos").html("");
                         
                            $.each($.parseJSON(result.lstProducts), function (i, producto) {
                                var estructura = "";
                                estructura += '<div class="col-xl-2 col-md-3 col-sm-6">'
                                estructura += '<div class="dt-card text-center">'
                                estructura += '<div class="dt-card__header px-5 mb-4">'
                                estructura += '<div class="text-center" style="height:90px;width: 100%;">'
                                //estructura += '<div class="dt-separator-h-v1 mb-2"></div>'
                                estructura += '<h5 class="mb-1">' + producto.Nombre_Producto + '</h5>'
                                estructura += '<h1 class="d-inline-block text-primary">$' + producto.Precio_Venta + '</h1>'
                                estructura += '</div>'
                                estructura += '</div>'
                                estructura += '<div class="dt-card__body px-5">'

                                estructura += '<img class="img-fluid mb-7" src="/Content/assets/images/no-image-icon.png" alt="' + producto.Id_Producto + '">'
                                estructura += '<div>'
                                estructura += '<a href="#" data-idproducto="' + producto.Id_Producto + '" data-precioproducto="' + producto.Precio_Venta + '" data-nombreproducto="' + producto.Nombre_Producto + '" data-toggle="modal" data-target="#form-modalProducto" class="btn bg-brown text-uppercase text-white btn-sm">Agregar a carrito</a>'
                                estructura += '</div>'
                                estructura += '</div>'
                                estructura += '</div>'
                                estructura += '</div>'

                                $("#listaproductos").append(estructura);

                            }
                            )

                        } else { //Error try catch
                            var toasterror = swal.mixin({
                                toast: true,
                                position: 'top-end',
                                showConfirmButton: false,
                                timer: 3000
                            });

                            toasterror({
                                type: 'info',
                                title: 'Ocurrio un error. ' + result.flag
                            });

                            $("#listaproductos").html("");
                            $("#listaproductos").append('<div class="col-xl-12"><div class="dt-card text-center"><label>Producto no encontrado</label></div></div>');
                        }
                       

                    },
                    error: function () {
                        var toasterror = swal.mixin({
                            toast: true,
                            position: 'top-end',
                            showConfirmButton: false,
                            timer: 3000
                        });

                        toasterror({
                            type: 'info',
                            title: 'Algo salio mal, favor intentar nuevamente.'
                        });

                
                    },
                });
        }

        //Buscar por Descripcion
        if (descripcionprod != "") {
            //ejecutamos AJAX
            $.ajax
                ({
                    url: '/Invoices/product_searchdescription',
                    type: 'POST',
                    datatype: 'application/json',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        description: descripcionprod
                    }),
                    success: function (result) {
                        //result.flag - result.lstNuevoCliente
                        if (result.flag == "Success") {
                            $("#listaproductos").html("");
                            
                            $.each($.parseJSON(result.lstProducts), function (i, producto) {
                                var estructura = "";
                                estructura += '<div class="col-xl-2 col-md-3 col-sm-6">'
                                estructura += '<div class="dt-card text-center">'
                                estructura += '<div class="dt-card__header px-5 mb-4">'
                                estructura += '<div class="text-center" style="height:90px;width: 100%;">'
                                //estructura += '<div class="dt-separator-h-v1 mb-2"></div>'
                                estructura += '<h5 class="mb-1">' + producto.Nombre_Producto + '</h5>'
                                estructura += '<h1 class="d-inline-block text-primary">$' + producto.Precio_Venta + '</h1>'
                                estructura += '</div>'
                                estructura += '</div>'
                                estructura += '<div class="dt-card__body px-5">'

                                estructura += '<img class="img-fluid mb-7" src="/Content/assets/images/no-image-icon.png" alt="' + producto.Id_Producto + '">'
                                estructura += '<div>'
                                estructura += '<a href="#" data-idproducto="' + producto.Id_Producto + '" data-precioproducto="' + producto.Precio_Venta + '" data-nombreproducto="' + producto.Nombre_Producto + '" data-toggle="modal" data-target="#form-modalProducto" class="btn bg-brown text-uppercase text-white btn-sm">Agregar a carrito</a>'
                                estructura += '</div>'
                                estructura += '</div>'
                                estructura += '</div>'
                                estructura += '</div>'

                                $("#listaproductos").append(estructura);

                            }
                            )

                        } else { //Error try catch
                            var toasterror = swal.mixin({
                                toast: true,
                                position: 'top-end',
                                showConfirmButton: false,
                                timer: 3000
                            });

                            toasterror({
                                type: 'info',
                                title: 'Ocurrio un error. ' + result.flag
                            });

                            $("#listaproductos").html("");
                            $("#listaproductos").append('<div class="col-xl-12"><div class="dt-card text-center"><label>Producto no encontrado</label></div></div>');
                        }


                    },
                    error: function () {
                        var toasterror = swal.mixin({
                            toast: true,
                            position: 'top-end',
                            showConfirmButton: false,
                            timer: 3000
                        });

                        toasterror({
                            type: 'info',
                            title: 'Algo salio mal, favor intentar nuevamente.'
                        });
                    },
                });
        }

        //Buscar por Codigo de barras        
        if (codigobarras != "") {
            //ejecutamos AJAX
            $.ajax
                ({
                    url: '/Invoices/product_searchcodigobarras',
                    type: 'POST',
                    datatype: 'application/json',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        codigobarras: codigobarras
                    }),
                    success: function (result) {
                        //result.flag - result.lstNuevoCliente
                        if (result.flag == "Success") {
                            $("#listaproductos").html("");

                            $.each($.parseJSON(result.lstProducts), function (i, producto) {
                                var estructura = "";
                                estructura += '<div class="col-xl-2 col-md-3 col-sm-6">'
                                estructura += '<div class="dt-card text-center">'
                                estructura += '<div class="dt-card__header px-5 mb-4">'
                                estructura += '<div class="text-center" style="height:90px;width: 100%;">'
                                //estructura += '<div class="dt-separator-h-v1 mb-2"></div>'
                                estructura += '<h5 class="mb-1">' + producto.Nombre_Producto + '</h5>'
                                estructura += '<h1 class="d-inline-block text-primary">$' + producto.Precio_Venta + '</h1>'
                                estructura += '</div>'
                                estructura += '</div>'
                                estructura += '<div class="dt-card__body px-5">'

                                estructura += '<img class="img-fluid mb-7" src="/Content/assets/images/no-image-icon.png" alt="' + producto.Id_Producto + '">'
                                estructura += '<div>'
                                estructura += '<a href="#" data-idproducto="' + producto.Id_Producto + '" data-precioproducto="' + producto.Precio_Venta + '" data-nombreproducto="' + producto.Nombre_Producto + '" data-toggle="modal" data-target="#form-modalProducto" class="btn bg-brown text-uppercase text-white btn-sm">Agregar a carrito</a>'
                                estructura += '</div>'
                                estructura += '</div>'
                                estructura += '</div>'
                                estructura += '</div>'

                                $("#listaproductos").append(estructura);
                                
                            }
                            )

                        } else { //Error try catch
                            var toasterror = swal.mixin({
                                toast: true,
                                position: 'top-end',
                                showConfirmButton: false,
                                timer: 3000
                            });

                            toasterror({
                                type: 'info',
                                title: 'Ocurrio un error. ' + result.flag
                            });

                            $("#listaproductos").html("");
                            $("#listaproductos").append('<div class="col-xl-12"><div class="dt-card text-center"><label>Producto no encontrado</label></div></div>');
                        }


                    },
                    error: function () {
                        var toasterror = swal.mixin({
                            toast: true,
                            position: 'top-end',
                            showConfirmButton: false,
                            timer: 3000
                        });

                        toasterror({
                            type: 'info',
                            title: 'Algo salio mal, favor intentar nuevamente.'
                        });
                    },
                });

        }

    }

    //Buscar por Asistente
    function borrar1() {
        $("#descripcionprod").val("");
        $("#codigobarras").val("");
    }    function borrar2() {
        $("#codigosku").val("");
        $("#codigobarras").val("");
    }    function borrar3() {
        $("#codigosku").val("");
        $("#descripcionprod").val("");
    }
    //Filtros de categoria
    function filter(clicked_id) {
        $("#mainsub > *").css('display', 'none')
        var x = document.getElementById(clicked_id);
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
        brandfilter_clear();
        subfilter_clear();

        $("#mainbrands > *").css('display', 'none')

        $('.subbtnsl').removeClass('btnsel');
        $('.brandbtnsl').removeClass('btnsubsel');
        //$("#subfilter").css('display', 'block')

        categoria = clicked_id;

    }

    function filter_clear() {
        $("#mainsub > *").css('display', 'none')
        $("#mainbrands > *").css('display', 'none')
        $('.btnsl').removeClass('brandsbtnsl');
        $('.subbtnsl').removeClass('btnsel');
        $('.brandbtnsl').removeClass('btnsubsel');
        $("#listaproductos").html("");
    }
    function subfilter_clear() {
        $('.subbtnsl').removeClass('btnsel');
        $("#listaproductos").html("");
    }

    function subfilter(clicked_id) {
        $("#mainbrands > *").css('display', 'none')
        var x = document.getElementById(clicked_id);
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
        $('.brandbtnsl').removeClass('btnsubsel');
        brandfilter_clear();
        subcategoria = clicked_id;

        
    }

    function mostrar_productos() {
        var id_grupo = $("#sel_grupo").val();
        var id_linea = $("#sel_linea").val();
        var id_marca = $("#sel_marca").val();
        //ejecutamos AJAX
        $.ajax
            ({
                url: '/Invoices/product_searchasistente',
                type: 'POST',
                datatype: 'application/json',
                contentType: 'application/json',
                data: JSON.stringify({
                    categoria: id_grupo,
                    subcategoria: id_linea,
                    marca: id_marca
                }),
                success: function (result) {
                    //result.flag - result.lstNuevoCliente
                    if (result.flag == "Success") {
                        $("#listaproductos").html("");

                        $.each($.parseJSON(result.lstProducts), function (i, producto) {
                            var estructura = "";

                            estructura += '<div class="col-xl-2 col-md-3 col-sm-6">'
                            estructura += '<div class="dt-card text-center">'
                            estructura += '<div class="dt-card__header px-5 mb-4">'
                            estructura += '<div class="text-center" style="height:90px;width: 100%;">'
                            //estructura += '<div class="dt-separator-h-v1 mb-2"></div>'
                            estructura += '<h5 class="mb-1">' + producto.Nombre_Producto + '</h5>'
                            estructura += '<h1 class="d-inline-block text-primary">$' + producto.Precio_Venta + '</h1>'
                            estructura += '</div>'
                            estructura += '</div>'
                            estructura += '<div class="dt-card__body px-5">'
                            
                            estructura += '<img class="img-fluid mb-7" src="/Content/assets/images/no-image-icon.png" alt="' + producto.Id_Producto + '">'
                            estructura += '<div>'
                            estructura += '<a href="#" data-idproducto="' + producto.Id_Producto +'" data-precioproducto="' + producto.Precio_Venta +'" data-nombreproducto="' + producto.Nombre_Producto +'" data-toggle="modal" data-target="#form-modalProducto" class="btn bg-brown text-uppercase text-white btn-sm">Agregar a carrito</a>'
                            estructura += '</div>'
                            estructura += '</div>'
                            estructura += '</div>'
                            estructura += '</div>'

                            $("#listaproductos").append(estructura);

                        }
                        )

                    } else { //Error try catch
                        var toasterror = swal.mixin({
                            toast: true,
                            position: 'top-end',
                            showConfirmButton: false,
                            timer: 3000
                        });

                        toasterror({
                            type: 'info',
                            title: result.flag
                        });

                        $("#listaproductos").html("");
                    }


                },
                error: function () {
                    var toasterror = swal.mixin({
                        toast: true,
                        position: 'top-end',
                        showConfirmButton: false,
                        timer: 3000
                    });

                    toasterror({
                        type: 'info',
                        title: 'Algo salio mal, favor intentar nuevamente.'
                    });
                },
            });

    }

    function brandfilter_clear() {
        $('.brandbtnsl').removeClass('btnsubsel');
       
    }
    var owl = $('.dt-card-carousel .owl-carousel');


    function moveNext_slide() {
        if ($("#cliente").val() != "0") {
            owl.trigger('next.owl.carousel');
            window.location.href = "#";
        } else {
            var toasterror = swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000
            });

            toasterror({
                type: 'info',
                title: 'Seleccione un cliente valido.'
            });
        }

    }

    function movePrev_slide() {
        owl.trigger('prev.owl.carousel');
        window.location.href = "#";
    }



    $(document).ready(function () {
        $("#mainsub > *").css('display', 'none')
        $("#mainbrands > *").css('display', 'none')


        $("#cantidad").inputSpinner();
        $("#cantidadEditar").inputSpinner();
        $("#descuento").inputSpinner();
        $("#descuentoEditar").inputSpinner();


        $("#prodfacturar").DataTable({
            "bSort": false,
            "bFilter": false,
            "paging": false,
            "language": {
                "emptyTable": "No hay productos agregados",
                "info": "Mostrando _START_ de _END_ productos",
                "infoEmpty": "Mostrando 0 de 0 productos",
            }

        });

        $("#numero_tarjeta").inputmask("9999-9999-9999-9999");





    });

    $("#codigobarras").bind('paste', function (e) {
        var ctl = $(this);
        borrar3();
        setTimeout(function () {
            buscarProducto();
        }, 100);
    });


    function filter_linea() {
        var id_grupo = $("#sel_grupo").val();
        $("#listaproductos").html("");

        $.ajax
            ({
                url: '/Invoices/Get_linea',
                type: 'POST',
                datatype: 'application/json',
                contentType: 'application/json',
                data: JSON.stringify({
                    id_grupo: id_grupo
                }),
                success: function (result) {

                    $("#sel_linea").html("");
                    $("#sel_marca").html("");
                    $("#sel_linea").append($('<option></option>').val(0).html("Seleccione una Linea"))
                    $.each($.parseJSON(result), function (i, linea) {

                        $("#sel_linea").append($('<option data-grupo=' + linea.id_grupo + '></option>').val(linea.id_linea).html(linea.linea));
                       
                    }

                    )

                },
                error: function () {
                  
                },
            });



    }

    function filter_marca() {
        var id_linea = $("#sel_linea").val();
        var id_grupo = $("#sel_linea").find(':selected').attr('data-grupo')
        $("#listaproductos").html("");
        $.ajax
            ({
                url: '/Invoices/Get_marca',
                type: 'POST',
                datatype: 'application/json',
                contentType: 'application/json',
                data: JSON.stringify({
                    id_linea: id_linea,
                    id_grupo: id_grupo
                }),
                success: function (result) {

                    $("#sel_marca").html("");
                    $("#sel_marca").append($('<option></option>').val(0).html("Seleccione una marca"))
                    $.each($.parseJSON(result), function (i, marca) {

                        $("#sel_marca").append($('<option data-linea=' + marca.id_linea + ' data-grupo=' + marca.id_grupo + '></option>').val(marca.id_marca).html(marca.marca));

                    }

                    )

                },
                error: function () {

                },
            });



    }
</script>

<script type="text/javascript">
    $(".disable-owl-swipe").on("touchstart mousedown", function (e) {
        // Prevent carousel swipe
        e.stopPropagation();
    })


    //MODAL SCRIPT
    //Nuevo producto
    $('#form-modalProducto').on('show.bs.modal', function (event) {

        var button = $(event.relatedTarget);// Button that triggered the modal

        var idproducto = button.data("idproducto");// Extract info from data-* attributes
        var producto = button.data("nombreproducto");// Extract info from data-* attributes
        var precio = button.data("precioproducto");

        var modal = $(this);

        $("#modal_titulo").text(producto);
        $("#precio_modal").text(precio);
        $("#precio_modalsub").text(precio);
        $("#total_modal").text(precio);
        $("#total_modalsub").text(precio);
        $("#idproducto").val(idproducto);
        $("#preciofijo").val(precio);
      
    });
    //Editar producto
    $('#form-modalProductoEditar').on('show.bs.modal', function (event) {

        var button = $(event.relatedTarget);// Button that triggered the modal
      
        var idproducto = button.data("idproducto");// Extract info from data-* attributes
        var producto = button.data("nombreproducto");// Extract info from data-* attributes
        var precio = button.data("precioproducto");
        var descuento = button.data("descuentoproducto");
        var preciodescuento = button.data("preciodescuento");
        var cantidad = button.data("cantidad");
        var total = button.data("totalproducto");


        $("#modal_tituloEditar").text(producto);
        $("#precio_modalEditar").text(preciodescuento);
        $("#precio_modalsubEditar").text(precio);
        $("#total_modalsubEditar").text(parseFloat(precio * cantidad).toFixed(2));
        $("#total_modalEditar").text(total);
        $("#idproductoEditar").val(idproducto);
        $("#preciofijoEditar").val(precio);
        $("#cantidadEditar").val(cantidad);
        $("#cantidad_modalsubEditar").text(cantidad);
        $("#cantidad_modalEditar").text(cantidad);
        $("#descuentoEditar").val(parseFloat((descuento/precio)*100).toFixed(2));
        $("#descuento_totalEditar").text(descuento);

    });


    $("#tipodocumento").on("change", function () {
        $("#texttipopago").val($(this).val());

        $("#recibido1").val("");
        $("#cambio").val("0.00");
        $("#anticipo").val("");
        $("#pendiente").val("0.00");

        if ($(this).val() == "ANTICIPO") {
            $("#anticipodiv").show();


        } else {
            $("#anticipodiv").hide();

   
        }
    })

    $("#tipopago").on("change", function () {
        $("#recibido1").val("");
        $("#cambio").val("0.00");
        $("#anticipo").val("");
        $("#pendiente").val("0.00");
        if ($(this).val() == "01") {
            $("#div_tarjeta").hide();
            $("#div_cheque").hide();
            $("#div_efectivo").show();

        } else if ($(this).val() == "04") {
            $("#div_efectivo").hide();
            $("#div_cheque").hide();
            $("#div_tarjeta").show();

        }
        else if ($(this).val() == "03") { //CHEQUE
            $("#div_efectivo").hide();
            $("#div_tarjeta").hide();
            $("#div_cheque").show();

        } else  {
            $("#div_efectivo").hide();
            $("#div_tarjeta").hide();
            $("#div_cheque").hide();

            if (parseFloat($("#CreditoActual").val()) < parseFloat($("#totalPagar").val())) {
                $("#tipopago").val("01");
                $("#div_tarjeta").hide();
                $("#div_cheque").hide();
                $("#div_efectivo").show();
                $("#tipopago option[value='" + "02" + "']").attr('disabled', true);
                $("#tipopago option[value='" + "02" + "']").css('color', '#dddddd');
            }

        }
    })

    $("#anticipo").on("change", function () {
        var anticipo = parseFloat($("#anticipo").val());
        var totalpagar = parseFloat($("#totalPagar").val().replace(",", ""));


        $("#pendiente").val(format2(((totalpagar - anticipo) * -1), ''));



    })

    $("#recibido1").on("change", function () {



        var recibido = parseFloat($("#recibido1").val());
  
        if (recibido == "" || recibido == null || isNaN(recibido)) {
            recibido = 0;
            $("#recibido1").val("0")
        }
       
        var totalpagar = parseFloat($("#totalPagar").val().replace(",", ""));

        if ($('#tipodocumento').val() == "ANTICIPO") {

            if ($("#anticipo").val() != "") {
                totalpagar = parseFloat($("#anticipo").val());
               
            } 
           
        }

        var totalpagarfinal = ((totalpagar - (recibido)) * -1)
        try {
            $("#cambio").val(format2(totalpagarfinal, ''));
        } catch{
            $("#cambio").val("0");
        }
        

    })

    $("#cantidad").on("change", function () {
        var cantidad = parseInt($("#cantidad").val());
        var precio = parseFloat($("#preciofijo").val());
        var preciofijo = parseFloat($("#preciofijo").val());
        var descuento = parseFloat($("#descuento").val());
        var subtotal = parseFloat(cantidad * precio);
        $("#precio_modalsub").text(precio);
        $("#total_modalsub").text(subtotal.toFixed(2));
        $("#cantidad_modalsub").text(cantidad);


        if (isNaN(descuento) || descuento == "" || descuento == "0.0") {

            $("#total_modalsub").text(subtotal.toFixed(2));

            $("#cantidad_modal").text(cantidad);
            $("#descuento_total").text("0.00");
            $("#precio_modal").text(precio.toFixed(2));
            $("#total_modal").text(subtotal.toFixed(2));
        } else {
            precio = parseFloat(precio - (precio * (descuento / 100)));
            var descuentoprecio = parseFloat((preciofijo * (descuento / 100)));
            $("#descuento_total").text(descuentoprecio.toFixed(2));
            var total = parseFloat(cantidad * precio);
            $("#precio_modal").text(precio.toFixed(2));
            $("#total_modal").text(total.toFixed(2));
        }


    })
    $("#descuento").on("change", function () {
        var cantidad = parseInt($("#cantidad").val());
        var precio = parseFloat($("#preciofijo").val());
        var preciofijo = parseFloat($("#preciofijo").val());
        var descuento = parseFloat($("#descuento").val());
        var subtotal = parseFloat(cantidad * precio);
        $("#precio_modalsub").text(precio);
        $("#total_modalsub").text(subtotal.toFixed(2));
        $("#cantidad_modalsub").text(cantidad);


        if (isNaN(descuento) || descuento == "" || descuento == "0.0") {

            $("#total_modalsub").text(subtotal.toFixed(2));

            $("#cantidad_modal").text(cantidad);
            $("#descuento_total").text("0.00");
            $("#precio_modal").text(precio.toFixed(2));
            $("#total_modal").text(subtotal.toFixed(2));
        } else {
            precio = parseFloat(precio - (precio * (descuento / 100)));
            var descuentoprecio = parseFloat((preciofijo * (descuento / 100)));
            $("#descuento_total").text(descuentoprecio.toFixed(2));
            var total = parseFloat(cantidad * precio);
            $("#precio_modal").text(precio.toFixed(2));
            $("#total_modal").text(total.toFixed(2));
        }

    })


    //Editar
    $("#cantidadEditar").on("change", function () {
        var cantidad = parseInt($("#cantidadEditar").val());
        var precio = parseFloat($("#preciofijoEditar").val());
        var preciofijo = parseFloat($("#preciofijoEditar").val());
        var descuento = parseFloat($("#descuentoEditar").val());
        var subtotal = parseFloat(cantidad * precio);
        $("#precio_modalsubEditar").text(precio);
        $("#total_modalsubEditar").text(subtotal.toFixed(2));
        $("#cantidad_modalsubEditar").text(cantidad);


        if (isNaN(descuento) || descuento == "" || descuento == "0.0") {

            $("#total_modalsubEditar").text(subtotal.toFixed(2));

            $("#cantidad_modalEditar").text(cantidad);
            $("#descuento_totalEditar").text("0.00");
            $("#precio_modalEditar").text(precio.toFixed(2));
            $("#total_modalEditar").text(subtotal.toFixed(2));
        } else {
            precio = parseFloat(precio - (precio * (descuento / 100)));
            var descuentoprecio = parseFloat((preciofijo * (descuento / 100)));
            $("#descuento_totalEditar").text(descuentoprecio.toFixed(2));
            var total = parseFloat(cantidad * precio);
            $("#precio_modalEditar").text(precio.toFixed(2));
            $("#total_modalEditar").text(total.toFixed(2));
        }


    })
    $("#descuentoEditar").on("change", function () {
        var cantidad = parseInt($("#cantidadEditar").val());
        var precio = parseFloat($("#preciofijoEditar").val());
        var preciofijo = parseFloat($("#preciofijoEditar").val());
        var descuento = parseFloat($("#descuentoEditar").val());
        var subtotal = parseFloat(cantidad * precio);
        $("#precio_modalsubEditar").text(precio);
        $("#total_modalsubEditar").text(subtotal.toFixed(2));
        $("#cantidad_modalsubEditar").text(cantidad);


        if (isNaN(descuento) || descuento == "" || descuento == "0.0") {

            $("#total_modalsubEditar").text(subtotal.toFixed(2));

            $("#cantidad_modalEditar").text(cantidad);
            $("#descuento_totalEditar").text("0.00");
            $("#precio_modalEditar").text(precio.toFixed(2));
            $("#total_modalEditar").text(subtotal.toFixed(2));
        } else {
            precio = parseFloat(precio - (precio * (descuento / 100)));
            var descuentoprecio = parseFloat((preciofijo * (descuento / 100)));
            $("#descuento_totalEditar").text(descuentoprecio.toFixed(2));
            var total = parseFloat(cantidad * precio);
            $("#precio_modalEditar").text(precio.toFixed(2));
            $("#total_modalEditar").text(total.toFixed(2));
        }

    })
    //



    function limpiarAgregar() {
        $("#cantidad_modal").text("0");
        $("#descuento").val(0);
        $("#cantidad").val(1);
        $("#cantidad_modalsub").text("1");
        $("#cantidad_modal").text("1");
        $("#descuento_total").text("0.00");
        $("#total_modal").text("0.00");
    }

    function agregarCarrito() {
        var idproducto = $("#idproducto").val();
        var nombreproducto = $("#modal_titulo").text();
        var cantidad = $("#cantidad_modal").text();
        var precio = $("#precio_modal").text();
        var total = parseFloat($("#total_modal").text());
        var preciofijo = parseFloat($("#preciofijo").val());
        var subtotal = parseFloat($("#total_modalsub").text());
        var sku = $("#idproducto").val();
        var descuento = parseFloat($("#descuento_total").text());


        var desccanti = ((preciofijo - precio) * cantidad);
        var preciodesc = parseFloat(preciofijo - descuento);
        //Agregar a carrito de compras
        var item_widget = "";
        item_widget += '<div class="dt-widget__item" id="widget_' + idproducto + '">';
        //item_widget += '<div class="dt-widget__img"><img class="img-fluid" style="height:60px; width:60px;" src="https://via.placeholder.com/115x58"alt="Logo"></div>';
        item_widget += '<div class="dt-widget__info">';
        item_widget += '<div class="dt-widget__title"><label>' + sku + " | " + nombreproducto +'</label></div>';
        item_widget += '<p class="dt-widget__subtitle">Precio: $' + preciofijo + '</p>';
        item_widget += '<p class="dt-widget__subtitle descuentowidget">Descuento: $' + descuento + '</p>';
        item_widget += '<p class="dt-widget__subtitle totalwidget" style="display:none;">' + total + '</p>';
        item_widget += '<p class="dt-widget__subtitle subtotalwidget" style="display:none;">' + subtotal + '</p>';
        item_widget += '<p class="dt-widget__subtitle descwidget" style="display:none;">' + desccanti + '</p>';
        item_widget += '<p class="dt-widget__subtitle subtotaltext">Total: $' + precio + ' x ' + cantidad + ' = $' + total + '</p>';
        item_widget += '</div>';
        item_widget += '<div class="dt-widget__extra">';
        item_widget += '<div class="hide-content">';
        item_widget += '<div class="action-btn-group">';
        item_widget += '<button id="wbtn_' + idproducto + '" onclick="eliminarwidget(this.id)" class="btn btn-default text-danger dt-fab-btn"><i class="icon icon-circle-remove-o icon-1x"></i></button>';
        item_widget += ' </div>';
        item_widget += '</div>';
        item_widget += '</div>';
        item_widget += '</div>';

        $("#widgetprincipal").append(item_widget);
        $('#form-modalProducto').modal('hide');
        
        //Agregar a listado final

        var t = $('#prodfacturar').DataTable();
        //var td = '';
        //td += '<td>' + sku + '</td>';
        //td += '<td>' + nombreproducto + '</td>';
        //td += '<td>' + cantidad + '</td>';
        //td += '<td>' + preciofijo + '</td>';
        //td += '<td>' + descuento + '</td>';
        //td += '<td>' + preciodesc + '</td>';
        //td += '<td>' + total + '</td>';
        //td += '<td><button id="btndelfacee_' + sku + '" class="btn btn-danger deletebtnprod" data-idpro="' + sku + '"><i class="icon icon-trash"></i></button></td>';
        //td += '<td><button class="btn btn-info btnEditprod" data-toggle="modal" data-target="#form-modalProductoEditar" data-idproducto="' + sku + '" data-nombreproducto="' + nombreproducto + '" data-precioproducto="' + preciofijo + '" data-descuentoproducto="' + descuento + '" data-preciodescuento="' + preciodesc + '" data-cantidad="' + cantidad + '" data-totalproducto="' + total +'"><i class="icon icon-editors"></i></button></td>';
   



        //$('#prodfacturar > tbody:last-child').append('<tr id=row_' + sku + '>' + td + '</tr>');
        //$('#prodfacturar').DataTable().draw();
        var row = t.row.add([sku,
            nombreproducto, cantidad,
            preciofijo.toLocaleString('en-US', { style: 'currency', currency: 'USD' }), descuento.toLocaleString('en-US', { style: 'currency', currency: 'USD' }), preciodesc.toLocaleString('en-US', { style: 'currency', currency: 'USD' }), total.toLocaleString('en-US', { style: 'currency', currency: 'USD' }), '<button style="width: 100%;"  id="btndelfacee_' + sku + '" class="btn btn-danger deletebtnprod" data-idpro="' + sku + '"><i class="icon icon-trash"></i></button>', '<button id="btnEditprodf_' + sku + '" class="btn btn-info btnEditprod" style="width: 100%;" data-toggle="modal" data-target="#form-modalProductoEditar" data-idproducto="' + sku + '" data-nombreproducto="' + nombreproducto + '" data-precioproducto="' + preciofijo + '" data-descuentoproducto="' + descuento + '" data-preciodescuento="' + preciodesc + '" data-cantidad="' + cantidad + '" data-totalproducto="' + total + '"><i class="icon icon-editors"></i></button>'
        ]).node().id = 'row_' + sku;
        t.row(row).column(0).nodes().to$().attr("data-label", "SKU");
        t.row(row).column(1).nodes().to$().attr("data-label", "PRODUCTO");
        t.row(row).column(2).nodes().to$().attr("data-label", "CANTIDAD");
        t.row(row).column(3).nodes().to$().attr("data-label", "PRECIO");
        t.row(row).column(4).nodes().to$().attr("data-label", "DESCUENTO");
        t.row(row).column(5).nodes().to$().attr("data-label", "PRECIO/DESC");
        t.row(row).column(6).nodes().to$().attr("data-label", "TOTAL");

       
        //t.row.add([sku,
        //    nombreproducto, cantidad,
        //    preciofijo.toLocaleString('en-US', { style: 'currency', currency: 'USD' }), descuento.toLocaleString('en-US', { style: 'currency', currency: 'USD' }), preciodesc.toLocaleString('en-US', { style: 'currency', currency: 'USD' }), total.toLocaleString('en-US', { style: 'currency', currency: 'USD' }), '<button id="btndelfacee_' + sku + '" class="btn btn-danger deletebtnprod" data-idpro="' + sku + '"><i class="icon icon-trash"></i></button>', '<button id="btnEditprodf_' + sku + '" class="btn btn-info btnEditprod" data-toggle="modal" data-target="#form-modalProductoEditar" data-idproducto="' + sku + '" data-nombreproducto="' + nombreproducto + '" data-precioproducto="' + preciofijo + '" data-descuentoproducto="' + descuento + '" data-preciodescuento="' + preciodesc + '" data-cantidad="' + cantidad + '" data-totalproducto="' + total +'"><i class="icon icon-editors"></i></button>'
        //]).node().id = 'row_' + sku;

        t.draw(true);

        //final
        limpiarAgregar();
        $("#iconshop").addClass("animation-customizer")

        sumarTotal();
        $('#codigobarras').val('');
      
        $('#codigosku').val('');
        $('#descripcionprod').val('');
        $("#listaproductos").html("");
       
        $('#sel_grupo').val(0);
        $('#sel_linea').val(0);
        $('#sel_marca').val(0);

        var toastsuccess = swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000
        });

        toastsuccess({
            type: 'success',
            title: 'Producto agregado correctamente.'
        });

       
        var isMobile = /iPhone|iPad|iPod|Android/i.test(navigator.userAgent);
        if (isMobile) {
            window.location.href = "#";
        } else {
            window.location.href = "#";
            $('#codigobarras').focus();
        }

       
    }

    //Editar carrito
    function editarCarrito() {
        var idproducto = $("#idproductoEditar").val();
        var nombreproducto = $("#modal_tituloEditar").text();
        var cantidad = $("#cantidad_modalEditar").text();
        var precio = $("#precio_modalEditar").text();
        var total = $("#total_modalEditar").text();
        var preciofijo = parseFloat($("#preciofijoEditar").val());
        var subtotal = parseFloat($("#total_modalsubEditar").text());
        var sku = $("#idproductoEditar").val();
        var descuento = parseFloat($("#descuento_totalEditar").text());


        var desccanti = ((preciofijo - precio) * cantidad);
        var preciodesc = (preciofijo - descuento).toFixed(2);


        $('#form-modalProductoEditar').modal('hide');

        //Agregar a listado final
        var row = "#row_" + idproducto;



        $(row).find('td').eq(2).text(cantidad);
        $(row).find('td').eq(4).text(parseFloat(descuento).toLocaleString('en-US', { style: 'currency', currency: 'USD' }));
        $(row).find('td').eq(5).text(parseFloat(preciodesc).toLocaleString('en-US', { style: 'currency', currency: 'USD' }));
        $(row).find('td').eq(6).text(parseFloat(total).toLocaleString('en-US', { style: 'currency', currency: 'USD' }));

        //Actualizamos valores de atributo DATA del boton editar
        var idbtn = "#btnEditprodf_" + sku;


        $(idbtn).data("cantidad", cantidad);
        $(idbtn).data("totalproducto", total);
        $(idbtn).data("descuentoproducto", descuento);
        $(idbtn).data("preciodescuento", preciodesc);


        //Carrito
        var shop = "#widget_" + idproducto;


       
        $(shop).find('.descuentowidget').text('Descuento: $' + descuento);
        $(shop).find('.subtotaltext').text('Total: $' + precio + ' x ' + cantidad + ' = $' + total);
        $(shop).find('.totalwidget').text(total);
        $(shop).find('.subtotalwidget').text(subtotal);
        $(shop).find('.descwidget').text(desccanti);

        //



        sumarTotal();
      

        var toastsuccess = swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000
        });

        toastsuccess({
            type: 'success',
            title: 'Producto actualizado correctamente.'
        });
    }
    //

    $("#cliente").on("change", function () {
        //Consultamos datos de cliente e historial de credito
        var idcliente = $(this).val();
        if (idcliente != "0") {
            //Buscamos cliente
            $.ajax
                ({
                    url: '/Invoices/Search_customer',
                    type: 'POST',
                    datatype: 'application/json',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        idcustomer: idcliente
                    }),
                    success: function (result) {
                        //result.flag - result.lstNuevoCliente
                        if (result.flag == "Success") {

                            $.each($.parseJSON(result.lstNuevoCliente), function (i, nuevocliente) {
                              

                                $("#codcliente_factura").val(nuevocliente.Id_Cliente);
                                $("#nombreCliente").val(nuevocliente.Nombre_Cliente);
                                $("#duic").val(nuevocliente.DUI);
                                $("#nrcc").val(nuevocliente.NRC);
                                $("#nitc").val(nuevocliente.NIT);
                                if (nuevocliente.Id_Tipo_Contribuyente == "01") {
                                    $("#tipocontribuyente").val("GRANDE");
                                } else if (nuevocliente.Id_Tipo_Contribuyente == "02") {
                                    $("#tipocontribuyente").val("PEQUENO/MEDIANO");
                                } else {
                                    $("#tipocontribuyente").val("");
                                }

                                if (nuevocliente.Id_Tipo_Contribuyente == "03") {
                                    $("#tipocliente").val("PERSONA NATURAL");
                                } else {
                                    $("#tipocliente").val("PERSONA JURIDICA");
                                }

                                $("#CreditoActual").val(nuevocliente.Limite_Credito);
                                $("#credactlabel").html(nuevocliente.Limite_Credito);
                           
                                if (nuevocliente.Limite_Credito < nuevocliente.Saldo || nuevocliente.Limite_Credito == 0) {
                                    $("#alertaCreditos").show();
                                    $("#tipopago option[value='" + "02" + "']").attr('disabled', true); 
                                    $("#tipopago option[value='" + "02" + "']").css('color', '#dddddd');
                                } else {
                                    $("#alertaCreditos").hide();
                                    $("#tipopago option[value='" + "02" + "']").attr('disabled', false); 
                                    $("#tipopago option[value='" + "02" + "']").css('color', '#000');
                                }
                            }
                            )
                            var toastsuccess = swal.mixin({
                                toast: true,
                                position: 'top-end',
                                showConfirmButton: false,
                                timer: 3000
                            });


                        } else { //Error try catch
                            var toasterror = swal.mixin({
                                toast: true,
                                position: 'top-end',
                                showConfirmButton: false,
                                timer: 3000
                            });

                            toasterror({
                                type: 'info',
                                title: 'Ocurrio un error. ' + result.flag
                            });
                        }


                    },
                    error: function () {
                        var toasterror = swal.mixin({
                            toast: true,
                            position: 'top-end',
                            showConfirmButton: false,
                            timer: 3000
                        });

                        toasterror({
                            type: 'info',
                            title: 'Algo salio mal, favor intentar nuevamente.'
                        });
                    },
                });


        }
    });



    function eliminarwidget(id) {
        $('aside').removeClass("open");
        var swalWithBootstrapButtons = swal.mixin({
            confirmButtonClass: 'btn btn-success mb-2',
            cancelButtonClass: 'btn btn-danger mr-2 mb-2',
            buttonsStyling: false,
        });

        swalWithBootstrapButtons({
            title: 'Eliminar Producto',
            text: "Estas seguro de eliminar este producto?",
            type: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Eliminar',
            cancelButtonText: 'Cancelar',
            reverseButtons: true
        }).then((result) => {
            if (result.value) {
                var idbtn = id;
                var idwidget = "#widget_" + idbtn.substring(5);
                $(idwidget).remove();

                var btndel = "#btndelfacee_" + idbtn.substring(5);
                var row = $(btndel).closest("tr").get(0);
                $('#prodfacturar').DataTable().row(row).remove().draw();

                contar_widgetshop();
                sumarTotal();

                swalWithBootstrapButtons(
                    'Producto Eliminado',
                    '',
                    'success'
                )
            } else {
                $('aside.dt-customizer').addClass("open");
            }
        });


    
    }

    function eliminarwidgetDesdeCheckout(id) {
        var idbtn = id;
        var idwidget = "#widget_" + idbtn;
        $(idwidget).remove();

        contar_widgetshop();
        sumarTotal();
    }

    //Eliminar producto 
    $(document).on('click', '.deletebtnprod', function () {

        var swalWithBootstrapButtons = swal.mixin({
            confirmButtonClass: 'btn btn-success mb-2',
            cancelButtonClass: 'btn btn-danger mr-2 mb-2',
            buttonsStyling: false,
        });

        swalWithBootstrapButtons({
            title: 'Eliminar Producto',
            text: "Estas seguro de eliminar este producto?",
            type: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Eliminar',
            cancelButtonText: 'Cancelar',
            reverseButtons: true
        }).then((result) => {
            if (result.value) {
                var row = $(this).closest("tr").get(0);
                $('#prodfacturar').DataTable().row(row).remove().draw();
                var sku = $(this).data('idpro');
                eliminarwidgetDesdeCheckout(sku);

                swalWithBootstrapButtons(
                    'Producto Eliminado',
                    '',
                    'success'
                )
            }
        });



    
    })


    function contar_widgetshop() {
        var existe = $(".dt-widget__item").length;

        if (existe > 0) {

        } else {
            $("#iconshop").removeClass("animation-customizer")
        }

    }
    function moveNext_slidecheckout() {
        var existe = $(".dt-widget__item").length;

        if (existe > 0) {
            owl.trigger('next.owl.carousel');
            window.location.href = "#";
        } else {
            var toasterror = swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000
            });

            toasterror({
                type: 'info',
                title: 'Agregue al menos un producto.'
            });
        }

           
    }

    function format2(n, currency) {
        return currency + n.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
    }


    function sumarTotal() {
        var total = 0.0;
        var subtotal = 0.0;
        var desc = 0.0;
        $.each($('.totalwidget'), function () {
            total += parseFloat($(this).text());
        });
        $.each($('.subtotalwidget'), function () {
            subtotal += parseFloat($(this).text());
        });
        $.each($('.descwidget'), function () {
            desc += parseFloat($(this).text());
        });


        $("#totalorden_shopcart").text(format2(total,''));

        //checkout
        $("#subtotalfac").val(format2(subtotal,''));
        var iva = parseFloat(total * 0.13);
        $("#ivafac").val(format2(iva, ''));


        $("#descuentosfac").val(format2(desc, ''));

        var tipocont = $("#tipocontribuyente").val();

        if (tipocont == "GRANDE") {
            var antici = parseFloat((subtotal - desc) * 0.01);
            $("#anticipoivafac").val(format2(antici, ''));

            var totalfinal = (total + iva - antici);

            $("#totalfac").val(format2(totalfinal, ''));
            $("#totalPagar").val(format2(totalfinal, ''));

        } else {
            $("#anticipoivafac").val('0.00');
            var totalfinal = (total + iva);
            $("#totalfac").val(format2(totalfinal, ''));
            $("#totalPagar").val(format2(totalfinal, ''));
      
        }


        if (parseFloat($("#CreditoActual").val()) < parseFloat($("#totalPagar").val())) {
            $("#tipopago").val("01");
            $("#div_tarjeta").hide();
            $("#div_cheque").hide();
            $("#div_efectivo").show();
            $("#tipopago option[value='" + "02" + "']").attr('disabled', true);
            $("#tipopago option[value='" + "02" + "']").css('color', '#dddddd');
            $("#alertaCreditos").show();
        } else {
            $("#tipopago option[value='" + "02" + "']").attr('disabled', false);
            $("#tipopago option[value='" + "02" + "']").css('color', '#000');
            $("#alertaCreditos").hide();
        }



       

    }


    //GUARDAR FACTURA
    function Facturar() {
        //Datos factura

        var flag = 1;

        var BancoCheque = $("#banco_cheque").val();
        var NumeroCheque = $("#numero_cheque").val();
        var numerodocumento = $("#numerodocumento").val();
      
        var TitularTarjeta = $("#nombre_tarjeta").val();
        var DocumentoTarjeta = $("#doc_tarjeta").val();
        var NumeroTarjeta = $("#numero_tarjeta").val();
        var VoucherTarjeta = $("#voucher_tarjeta").val();

        var tipopago = $("#tipopago").val();
        if (tipopago == "01") {//Efectivo
            var recibido = $("#recibido1").val();
            if (recibido == null || recibido == "") {
                flag = 0;
            }
        }
        if (tipopago == "03") {//Cheque
            if (BancoCheque == "" || BancoCheque==null) {
                flag = 0;
            }
            if (NumeroCheque == "" || NumeroCheque == null) {
                flag = 0;
            }
        }


        if (numerodocumento == "" || numerodocumento== null) {
            flag = 0;
        }

        if (tipopago == "04") {//Tarjeta
            if (TitularTarjeta == "" || TitularTarjeta == null) {
                flag = 0;
            }
            if (DocumentoTarjeta == "" || DocumentoTarjeta == null) {
                flag = 0;
            }
            if (NumeroTarjeta == "" || NumeroTarjeta == null) {
                flag = 0;
            }
            if (VoucherTarjeta == "" || VoucherTarjeta == null) {
                flag = 0;
            }
        }

   
        if ($("#selvendedor").val() == "-1") {//Vendedor NO valido

                flag = 0;
            
        }



        //ANTICIPO
        var tipopago = $("#tipodocumento").val();
        if (tipopago == "ANTICIPO") {//verificamos que coloque anticipo
            var recibido = $("#anticipo").val();
            if (recibido == null || recibido == "") {
                flag = 0;
            }
        }


        if (flag == 1) {

            var saldopend = $("#pendiente").val();
            if (saldopend == null) { saldopend = 0; }
            var anticipo = $("#anticipo").val();
            if (anticipo == null) { anticipo = 0; }

            var totalcancelado = 0;
            if (anticipo > 0) {
                totalcancelado = anticipo;

            } else {
                totalcancelado = $("#totalfac").val();
            }

            var headerdata = [];
            var fecha = new Date();



            if (BancoCheque == null) { BancoCheque = ""; }
            if (NumeroCheque == null) { NumeroCheque = ""; }
            if (TitularTarjeta == null) { TitularTarjeta = ""; }
            if (DocumentoTarjeta == null) { DocumentoTarjeta = ""; }
            if (NumeroTarjeta == null) { NumeroTarjeta = ""; }
            if (VoucherTarjeta == null) { VoucherTarjeta = ""; }



            var Docentry = "";
            var MensajeError = '';


            headerdata.push({
                //factura
                Cod_cliente: $("#codcliente_factura").val(),
                Cliente: $("#nombreCliente").val(),
                Fecha: fecha.toLocaleString(),
                Cod_tipoDocumento: $("#tipodocumento").val(),
                TipoDocumento: $("#tipodocumento option:selected").text(),
                Cod_tipoPago: $("#tipopago").val(),
                TipoPago: $("#tipopago option:selected").text(),
                //
                SubTotal: $("#subtotalfac").val(),
                Descuentos: $("#descuentosfac").val(),
                IVA: $("#ivafac").val(),
                AnticipoIVA: $("#anticipoivafac").val(),
                Anticipo: anticipo,
                TotalFactura: $("#totalfac").val(),
                TotalCancelado: totalcancelado,
                SaldoPendiente: parseFloat(saldopend * -1),
                //
                BancoCheque: BancoCheque,
                NumeroCheque: NumeroCheque,
                //
                TitularTarjeta: TitularTarjeta,
                DocumentoTarjeta: DocumentoTarjeta,
                NumeroTarjeta: NumeroTarjeta,
                VoucherTarjeta: VoucherTarjeta,
                //db
                Docentry: Docentry,
                MensajeError: MensajeError,
                Error: 0,
                ID_Vendedor: $("#selvendedor").val(),
                Vendedor: $("#selvendedor option:selected").text(),
                NFactura: numerodocumento

            });
            var objects = [];



            $.each($('button.btnEditprod'), function () {
                var button = $(this);// Button that triggered the modal

                var porcentajedescuento = parseFloat((button.data("descuentoproducto") / button.data("precioproducto")) * 100);
                objects.push({
                    ID_factura: 0,
                    //producto
                    CodigoProducto: button.data("idproducto"),
                    NombreProducto: button.data("nombreproducto"),
                    Cantidad: button.data("cantidad"),
                    Precio: button.data("precioproducto"),
                    Descuento: button.data("descuentoproducto"),
                    PorcentajeDescuento: porcentajedescuento,
                    PrecioDescuento: button.data("preciodescuento"),
                    TotalFila: button.data("totalproducto"),
                    //db
                    Devolucion: false,
                    DocEntryDevolucion: Docentry,
                    EstadoFila: 0,
                    MensajeError: MensajeError,
                    Error: 0
                });

            });

            $.ajax
                ({
                    url: '/Invoices/Save_InvoiceData',
                    type: 'POST',

                    data: { 'detailsInvoice': objects, 'headerInvoice': headerdata },
                    success: function (result) {
                        if (result == "SUCCESS") {
                            var toastsuccess = swal.mixin({
                                toast: true,
                                position: 'top-end',
                                showConfirmButton: false,
                                timer: 3000
                            });

                            toastsuccess({
                                type: 'success',
                                title: 'Factura creada exitosamente. Generando documento...'
                            });



                            setTimeout(function () {

                                window.open('@Url.Action("InvoiceDocument", "Invoices",new { activityname = "InvoiceDocument" })', '_blank');
                            }, 1000);



                            //setTimeout(function () {

                            //             window.location.reload(true); 
                            //}, 1000);

                        } else {
                            var toastsuccess = swal.mixin({
                                toast: true,
                                position: 'top-end',
                                showConfirmButton: false,
                                timer: 3000
                            });

                            toastsuccess({
                                type: 'info',
                                title: result
                            });

                        }
                    },

                    error: function () {

                        var toastsuccess = swal.mixin({
                            toast: true,
                            position: 'top-end',
                            showConfirmButton: false,
                            timer: 3000
                        });

                        toastsuccess({
                            type: 'info',
                            title: 'Ocurrio un error.'
                        });
                    },

                });
        } else {

            //Alerta de validacion
            var toastsuccess = swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000
            });

            toastsuccess({
                type: 'info',
                title: 'Complete todos los campos.'
            });
        }


    }




    //GUARDAR Pedido
    function GeneraPedido() {
        //Datos factura

        var flag = 1;




        if (flag == 1) {



            var headerdata = [];
            var fecha = new Date();

            var Docentry = "";
            var MensajeError = '';


            headerdata.push({
                //factura
                Cod_cliente: $("#codcliente_factura").val(),
                Cliente: $("#nombreCliente").val(),
                Fecha: fecha.toLocaleString(),
                Cod_tipoDocumento: "",
                TipoDocumento: "",
                Cod_tipoPago: "",
                TipoPago: "",
                //
                SubTotal: $("#subtotalfac").val(),
                Descuentos: $("#descuentosfac").val(),
                IVA: $("#ivafac").val(),
                AnticipoIVA: $("#anticipoivafac").val(),
                Anticipo: 0,
                TotalFactura: $("#totalfac").val(),
                TotalCancelado: 0,
                SaldoPendiente: 0,
                //
                BancoCheque: "",
                NumeroCheque: "",
                //
                TitularTarjeta: "",
                DocumentoTarjeta: "",
                NumeroTarjeta: "",
                VoucherTarjeta: "",
                //db
                Docentry: Docentry,
                MensajeError: MensajeError,
                Error: 0,
                ID_Vendedor: $("#selvendedor").val(),
                Vendedor: $("#selvendedor option:selected").text()

            });
            var objects = [];



            $.each($('button.btnEditprod'), function () {
                var button = $(this);// Button that triggered the modal

                var porcentajedescuento = parseFloat((button.data("descuentoproducto") / button.data("precioproducto")) * 100);
                objects.push({
                    ID_factura: 0,
                    //producto
                    CodigoProducto: button.data("idproducto"),
                    NombreProducto: button.data("nombreproducto"),
                    Cantidad: button.data("cantidad"),
                    Precio: button.data("precioproducto"),
                    Descuento: button.data("descuentoproducto"),
                    PorcentajeDescuento: porcentajedescuento,
                    PrecioDescuento: button.data("preciodescuento"),
                    TotalFila: button.data("totalproducto"),
                    //db
                    Devolucion: false,
                    DocEntryDevolucion: Docentry,
                    EstadoFila: 0,
                    MensajeError: MensajeError,
                    Error: 0
                });

            });

            $.ajax
                ({
                    url: '/Invoices/Save_Pedido',
                    type: 'POST',

                    data: { 'detailsInvoice': objects, 'headerInvoice': headerdata },
                    success: function (result) {
                        if (result == "SUCCESS") {
                            var toastsuccess = swal.mixin({
                                toast: true,
                                position: 'top-end',
                                showConfirmButton: false,
                                timer: 3000
                            });

                            toastsuccess({
                                type: 'success',
                                title: 'Pedido creado exitosamente.'
                            });

                            window.location.reload(true);

                        } else {
                            var toastsuccess = swal.mixin({
                                toast: true,
                                position: 'top-end',
                                showConfirmButton: false,
                                timer: 3000
                            });

                            toastsuccess({
                                type: 'info',
                                title: result
                            });

                        }
                    },

                    error: function () {

                        var toastsuccess = swal.mixin({
                            toast: true,
                            position: 'top-end',
                            showConfirmButton: false,
                            timer: 3000
                        });

                        toastsuccess({
                            type: 'info',
                            title: 'Ocurrio un error.'
                        });
                    },

                });
        } else {

            //Alerta de validacion
            var toastsuccess = swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000
            });

            toastsuccess({
                type: 'info',
                title: 'Complete todos los campos.'
            });
        }


    }

    
</script>