
@{
    Layout = null;

}

<script>
    var categoria = "";
    var subcategoria = "";


    function seleccionarContribuyente(id) {
        if (id == '1') {
            document.getElementById("personaNatural").style.display = "block";
            document.getElementById("personaJuridica").style.display = "none";
        } else if (id == '2') {
            document.getElementById("personaJuridica").style.display = "block";
            document.getElementById("personaNatural").style.display = "none";
        }
    }

    function enviarDatos() {
        //funcion para guardar Cliente en tiempo real
        var nombre = $("#name").val();
        var correo = $("#email").val();
        var telefono = $("#telephone").val();
        var direccion = $("#direccion").val();
        var departamento = $("#departamento").val();
        var tipoContribuyente = $("#tipoContribuyente").val();

        var dui = "";
        var nrc = "";
        var contribuyente = "";
        var nit = "";
        var flag = 0;//Si la bandera es 0, no se valida.

        if (tipoContribuyente == "1") {
            nrc = "";
            contribuyente = "03";
            nit = "";

            dui = $("#dui").val();

            if (nombre != "" && correo != "" && telefono != "" && direccion != "" && departamento != "" && tipoContribuyente != "" && dui != "") {
                flag = 1;
            }

        } else if (tipoContribuyente == "2") {
            dui = "";
            nrc = $("#nrc").val();
            contribuyente = $("#contribuyente").val();
            nit = $("#nit").val();

            if (nombre != "" && correo != "" && telefono != "" && direccion != "" && departamento != "" && tipoContribuyente != "" && nrc != "" && contribuyente != "" && nit != "") {
                flag = 1;
            }
        }


        if (flag == 1) {
            //ejecutamos AJAX
            $.ajax
                ({
                    url: '/Invoices/Save_newCustomer',
                    type: 'POST',
                    datatype: 'application/json',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        nombre: nombre,
                        correo: correo,
                        telefono: telefono,
                        direccion: direccion,
                        departamento: departamento,
                        tipoContribuyente: tipoContribuyente,
                        dui: dui,
                        nrc: nrc,
                        contribuyente: contribuyente,
                        nit: nit
                    }),
                    success: function (result) {
                        //result.flag - result.lstNuevoCliente
                        if (result.flag == "Success") {
                            
                            $.each($.parseJSON(result.lstNuevoCliente), function (i, nuevocliente) {
                                $("#cliente").append($('<option selected></option>').val(nuevocliente.ID_customer).html("DUI: " + nuevocliente.DUI + " - NRC: " + nuevocliente.NRC + "- NOMBRE: " + nuevocliente.Nombre + ""));

                                $("#codcliente_factura").val(nuevocliente.ID_customer);
                                $("#nombreCliente").val(nuevocliente.Nombre);
                                $("#duic").val(nuevocliente.DUI);
                                $("#nrcc").val(nuevocliente.NRC);
                                $("#nitc").val(nuevocliente.NIT);
                                if (nuevocliente.Contribuyente == "01") {
                                    $("#tipocontribuyente").val("GRANDE");
                                } else if (nuevocliente.Contribuyente == "02") {
                                    $("#tipocontribuyente").val("PEQUENO/MEDIANO");
                                } else {
                                 
                                }

                                if (nuevocliente.Tipo_contribuyente == 1) {
                                    $("#tipocliente").val("PERSONA NATURAL");
                                } else if (nuevocliente.Tipo_contribuyente == 2) {
                                    $("#tipocliente").val("PERSONA JURIDICA");
                                } 
                                $("#CreditoActual").val("0");

                        
                                    $("#alertaCreditos").show();
                                    $("#tipopago option[value='" + "02" + "']").attr('disabled', true);
                                    $("#tipopago option[value='" + "02" + "']").css('color', '#dddddd');
                                
                            }
                            )
                            var toastsuccess = swal.mixin({
                                toast: true,
                                position: 'top-end',
                                showConfirmButton: false,
                                timer: 3000
                            });

                            toastsuccess({
                                type: 'success',
                                title: 'Cliente creado exitosamente.'
                            });

                            $('#form-modal').modal('hide');
                            document.getElementById("clientenoexiste").style.display = "none";
                        } else { //Error try catch
                            var toasterror = swal.mixin({
                                toast: true,
                                position: 'top-end',
                                showConfirmButton: false,
                                timer: 3000
                            });

                            toasterror({
                                type: 'info',
                                title: 'Ocurrio un error. ' + result.flag 
                            });
                        }


                    },
                    error: function () {
                        var toasterror = swal.mixin({
                            toast: true,
                            position: 'top-end',
                            showConfirmButton: false,
                            timer: 3000
                        });

                        toasterror({
                            type: 'info',
                            title: 'Algo salio mal, favor intentar nuevamente.'
                        });
                    },
                });
        } else {

            var toast = swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000
            });

            toast({
                type: 'info',
                title: 'Por favor, complete todos los campos.'
            });
        }
     

     
    }


   
   
    var owl = $('.dt-card-carousel .owl-carousel');



  


    $(document).ready(function () {

        $("#cantidadEditar").inputSpinner();



        $("#prodfacturar").DataTable({
            "bSort": false,
            "bFilter": false,
            "paging": false,
            "language": {
                "emptyTable": "No hay productos agregados",
                "info": "Mostrando _START_ de _END_ productos",
                "infoEmpty": "Mostrando 0 de 0 productos",
            }

        });


        $(".disable-owl-swipe").on("touchstart mousedown", function (e) {
            // Prevent carousel swipe
            e.stopPropagation();
        })


        setTimeout(function () {

        try {

          var json = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model, Newtonsoft.Json.Formatting.Indented));
            console.log(json);

            $.each(json, function (i, producto) {
 

                agregarCarritoDesdeDB(producto.Error, producto.CodigoProducto, producto.NombreProducto, producto.Cantidad, producto.PrecioDescuento, producto.PrecioDescuento * producto.Cantidad, producto.Precio, producto.Precio * producto.Cantidad, producto.CodigoProducto, producto.Precio - producto.PrecioDescuento);
            });

     



        } catch (err){

            alert("Error al cargar los productos: " + err.message)
        }

        }, 2000);

    });

</script>

<script type="text/javascript">
    //Editar producto
    $('#form-modalProductoEditar').on('show.bs.modal', function (event) {

        var button = $(event.relatedTarget);// Button that triggered the modal

        var idproducto = button.data("idproducto");// Extract info from data-* attributes
        var producto = button.data("nombreproducto");// Extract info from data-* attributes
        var precio = button.data("precioproducto");
        var descuento = button.data("descuentoproducto");
        var preciodescuento = button.data("preciodescuento");
        var cantidad = button.data("cantidad");
        var total = button.data("totalproducto");


        $("#modal_tituloEditar").text(producto);
        $("#precio_modalEditar").text(preciodescuento);
        $("#precio_modalsubEditar").text(precio);
        $("#total_modalsubEditar").text(parseFloat(precio * cantidad).toFixed(2));
        $("#total_modalEditar").text(total);
        $("#idproductoEditar").val(idproducto);
        $("#preciofijoEditar").val(precio);

        //se pone por defecto 1 y la cantidad pasa a ser el maximo para devolver

        $("#cantidadEditar").val(0);
        $("#cantidadEditar").prop('max', cantidad);

        $("#cantidad_modalsubEditar").text(0);
        $("#cantidad_modalEditar").text(0);
        $("#descuentoEditar").val(parseFloat((descuento/precio)*100).toFixed(2));
        $("#descuento_totalEditar").text(descuento);

    });


    //Editar
    $("#cantidadEditar").on("change", function () {
        var cantidad = parseInt($("#cantidadEditar").val());
        var precio = parseFloat($("#preciofijoEditar").val());
        var preciofijo = parseFloat($("#preciofijoEditar").val());
        var descuento = parseFloat($("#descuentoEditar").val());
        var subtotal = parseFloat(cantidad * precio);
        $("#precio_modalsubEditar").text(precio);
        $("#total_modalsubEditar").text(subtotal.toFixed(2));
        $("#cantidad_modalsubEditar").text(cantidad);


        if (isNaN(descuento) || descuento == "" || descuento == "0.0") {

            $("#total_modalsubEditar").text(subtotal.toFixed(2));

            $("#cantidad_modalEditar").text(cantidad);
            $("#descuento_totalEditar").text("0.00");
            $("#precio_modalEditar").text(precio.toFixed(2));
            $("#total_modalEditar").text(subtotal.toFixed(2));
        } else {
            precio = parseFloat(precio - (precio * (descuento / 100)));
            var descuentoprecio = parseFloat((preciofijo * (descuento / 100)));
            $("#descuento_totalEditar").text(descuentoprecio.toFixed(2));
            var total = parseFloat(cantidad * precio);
            $("#precio_modalEditar").text(precio.toFixed(2));
            $("#total_modalEditar").text(total.toFixed(2));
        }


    })






    //CARRITO DESDE DATABASE
    function agregarCarritoDesdeDB(lineNum,idproducto, nombreproducto, cantidad, precio, total, preciofijo, subtotal, sku, descuento) {
        var desccanti = ((preciofijo - precio) * cantidad);
        var preciodesc = parseFloat(preciofijo - descuento);
        //Agregar a carrito de compras
        var item_widget = "";
        item_widget += '<div class="dt-widget__item" id="widget_' + idproducto + '">';
        //item_widget += '<div class="dt-widget__img"><img class="img-fluid" style="height:60px; width:60px;" src="https://via.placeholder.com/115x58"alt="Logo"></div>';
        item_widget += '<div class="dt-widget__info">';
        item_widget += '<div class="dt-widget__title"><label>' + sku + " | " + nombreproducto + '</label></div>';
        item_widget += '<p class="dt-widget__subtitle">Precio: $' + preciofijo + '</p>';
        item_widget += '<p class="dt-widget__subtitle descuentowidget">Descuento: $' + descuento + '</p>';
        item_widget += '<p class="dt-widget__subtitle totalwidget" style="display:none;">' + total + '</p>';
        item_widget += '<p class="dt-widget__subtitle totalproductodev" style="display:none;">' + 0 + '</p>';
        item_widget += '<p class="dt-widget__subtitle subtotalwidget" style="display:none;">' + subtotal + '</p>';
        item_widget += '<p class="dt-widget__subtitle descwidget" style="display:none;">' + desccanti + '</p>';
        item_widget += '<p class="dt-widget__subtitle subtotaltext">Total: $' + precio + ' x ' + cantidad + ' = $' + total + '</p>';
        item_widget += '</div>';
        item_widget += '<div class="dt-widget__extra">';
        item_widget += '<div class="hide-content">';
        item_widget += '<div class="action-btn-group">';
        item_widget += '<button id="wbtn_' + idproducto + '" onclick="eliminarwidget(this.id)" class="btn btn-default text-danger dt-fab-btn"><i class="icon icon-circle-remove-o icon-1x"></i></button>';
        item_widget += ' </div>';
        item_widget += '</div>';
        item_widget += '</div>';
        item_widget += '</div>';

        $("#widgetprincipal").append(item_widget);


        //Agregar a listado final
        var t = $('#prodfacturar').DataTable();

        var row = t.row.add([sku,
            nombreproducto, cantidad, 0,
            preciofijo.toLocaleString('en-US', { style: 'currency', currency: 'USD' }), descuento.toLocaleString('en-US', { style: 'currency', currency: 'USD' }), preciodesc.toLocaleString('en-US', { style: 'currency', currency: 'USD' }), total.toLocaleString('en-US', { style: 'currency', currency: 'USD' }), '<button id="btnEditprodf_' + sku + '" class="btn btn-info btnEditprod" style="width: 100%;" data-toggle="modal" data-target="#form-modalProductoEditar" data-lineNum="' + lineNum + '" data-idproducto="' + sku + '" data-nombreproducto="' + nombreproducto + '" data-precioproducto="' + preciofijo + '" data-descuentoproducto="' + descuento + '" data-preciodescuento="' + preciodesc + '" data-cantidad="' + cantidad + '" data-totalproducto="' + total + ' data-cantidaddev=0 data-totalproductodev=0.0"><i class="icon icon-reply"></i></button>', lineNum
        ]).node().id = 'row_' + sku;
        t.row(row).column(0).nodes().to$().attr("data-label", "SKU");
        t.row(row).column(1).nodes().to$().attr("data-label", "PRODUCTO");
        t.row(row).column(2).nodes().to$().attr("data-label", "CANT");
        t.row(row).column(3).nodes().to$().attr("data-label", "CANT DEV");
        t.row(row).column(4).nodes().to$().attr("data-label", "PRECIO");
        t.row(row).column(5).nodes().to$().attr("data-label", "DESC");
        t.row(row).column(6).nodes().to$().attr("data-label", "PRECIO/DESC");
        t.row(row).column(7).nodes().to$().attr("data-label", "TOTAL");
        t.row(row).column(9).nodes().to$().attr("data-label", "");
        t.row(row).column(9).nodes().to$().attr("hidden", true);
        t.draw(true);
        sumarTotal();
    }
    //


    //Editar carrito
    function editarCarrito() {
        var idproducto = $("#idproductoEditar").val();
        var nombreproducto = $("#modal_tituloEditar").text();
        var cantidad = $("#cantidad_modalEditar").text();
        var precio = $("#precio_modalEditar").text();
        var total = $("#total_modalEditar").text();
        var preciofijo = parseFloat($("#preciofijoEditar").val());
        var subtotal = parseFloat($("#total_modalsubEditar").text());
        var sku = $("#idproductoEditar").val();
        var descuento = parseFloat($("#descuento_totalEditar").text());


        var desccanti = ((preciofijo - precio) * cantidad);
        var preciodesc = (preciofijo - descuento).toFixed(2);


        $('#form-modalProductoEditar').modal('hide');

        //Agregar a listado final
        var row = "#row_" + idproducto;

        if (cantidad > 0) {
            $(row).css("background-color", "#f7f7e6");
        } else {
            $(row).css("background-color", "#fff");
        }

        //$(row).find('td').eq(2).text(cantidad);
        $(row).find('td').eq(3).text(cantidad);
        //$(row).find('td').eq(5).text(parseFloat(descuento).toLocaleString('en-US', { style: 'currency', currency: 'USD' }));
        //$(row).find('td').eq(6).text(parseFloat(preciodesc).toLocaleString('en-US', { style: 'currency', currency: 'USD' }));
        //$(row).find('td').eq(7).text(parseFloat(total).toLocaleString('en-US', { style: 'currency', currency: 'USD' }));

        //Actualizamos valores de atributo DATA del boton editar
        var idbtn = "#btnEditprodf_" + sku;


        //$(idbtn).data("cantidad", cantidad);
        $(idbtn).data("cantidaddev", cantidad);
        $(idbtn).data("totalproductodev", total);
        //$(idbtn).data("descuentoproducto", descuento);
        //$(idbtn).data("preciodescuento", preciodesc);


        //Carrito
        var shop = "#widget_" + idproducto;
        $(shop).find('.totalproductodev').text(total);
        var totaldev = 0.0;
        $.each($('.totalproductodev'), function () {
            totaldev += parseFloat($(this).text());
        });
        $("#totalfacdevolver").val(totaldev);

        //$(shop).find('.descuentowidget').text('Descuento: $' + descuento);
        //$(shop).find('.subtotaltext').text('Total: $' + precio + ' x ' + cantidad + ' = $' + total);

        //$(shop).find('.subtotalwidget').text(subtotal);
        //$(shop).find('.descwidget').text(desccanti);


        //sumarTotal();

        var toastsuccess = swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000
        });

        toastsuccess({
            type: 'success',
            title: 'Producto actualizado correctamente.'
        });
    }



    function format2(n, currency) {
        return currency + n.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
    }

    function sumarTotal() {
        var total = 0.0;
        var subtotal = 0.0;
        var desc = 0.0;
        $.each($('.totalwidget'), function () {
            total += parseFloat($(this).text());
        });
        $.each($('.subtotalwidget'), function () {
            subtotal += parseFloat($(this).text());
        });
        $.each($('.descwidget'), function () {
            desc += parseFloat($(this).text());
        });


        $("#totalorden_shopcart").text(format2(total, ''));

        //checkout
        $("#subtotalfac").val(format2(subtotal, ''));
        var iva = parseFloat(total * 0.13);
        $("#ivafac").val(format2(iva, ''));


        $("#descuentosfac").val(format2(desc, ''));

        var tipocont = $("#tipocontribuyente").val();

        if (tipocont == "GRANDE") {
            var antici = parseFloat((subtotal - desc) * 0.01);
            $("#anticipoivafac").val(format2(antici, ''));

            var totalfinal = (total + iva - antici);

            $("#totalfac").val(format2(totalfinal, ''));
            $("#totalPagar").val(format2(totalfinal, ''));

        } else {
            $("#anticipoivafac").val('0.00');
            var totalfinal = (total + iva);
            $("#totalfac").val(format2(totalfinal, ''));
            $("#totalPagar").val(format2(totalfinal, ''));

        }


        if (parseFloat($("#CreditoActual").val()) < parseFloat($("#totalPagar").val())) {
            $("#tipopago").val("01");
            $("#div_tarjeta").hide();
            $("#div_cheque").hide();
            $("#div_efectivo").show();
            $("#tipopago option[value='" + "02" + "']").attr('disabled', true);
            $("#tipopago option[value='" + "02" + "']").css('color', '#dddddd');
            $("#alertaCreditos").show();
        } else {
            $("#tipopago option[value='" + "02" + "']").attr('disabled', false);
            $("#tipopago option[value='" + "02" + "']").css('color', '#000');
            $("#alertaCreditos").hide();
        }





    }


    //GUARDAR FACTURA
    function GenerarDevolucion() {
        //Datos factura
        var docnumfac = @ViewBag.header.NoDoc;
        var flag = 1;

        if (flag == 1) {

            var headerdata = [];
            var fecha = new Date();


            var ideliminar = '';
            var Docentry = "";
            var MensajeError = '';

            var objects = [];



            $.each($('button.btnEditprod'), function () {
                var button = $(this);// Button that triggered the modal

                var porcentajedescuento = parseFloat((button.data("descuentoproducto") / button.data("precioproducto")) * 100);

                if (button.data("cantidaddev") == undefined || button.data("cantidaddev") == 0) {

                } else {
                    objects.push({
                        Docnum: docnumfac,
                        //producto
                        CodigoProducto: button.data("idproducto"),
                        NombreProducto: button.data("nombreproducto"),
                        Cantidad: button.data("cantidaddev"),
                        PrecioDescuento: button.data("preciodescuento"),
                        TotalFila: button.data("totalproductodev"),
                        //db
                        DocEntryDevolucion: Docentry,
                        EstadoFila: 0,
                        MensajeError: MensajeError,
                        Error: 0
                    });
                }



            });

            if (objects.length > 0) {
                $.ajax
                    ({
                        url: '/Invoices/Save_InvoiceReturn',
                        type: 'POST',

                        data: { 'detailsInvoice': objects, 'Docnum': docnumfac },
                        success: function (result) {
                            if (result == "SUCCESS") {
                                var toastsuccess = swal.mixin({
                                    toast: true,
                                    position: 'top-end',
                                    showConfirmButton: false,
                                    timer: 3000
                                });

                                toastsuccess({
                                    type: 'success',
                                    title: 'Devolucion procesada exitosamente.'
                                });

                                window.location.href = '@Url.Action("NC_history", "Invoices")';

                            } else {
                                var toastsuccess = swal.mixin({
                                    toast: true,
                                    position: 'top-end',
                                    showConfirmButton: false,
                                    timer: 3000
                                });

                                toastsuccess({
                                    type: 'info',
                                    title: result
                                });

                            }
                        },

                        error: function () {

                            var toastsuccess = swal.mixin({
                                toast: true,
                                position: 'top-end',
                                showConfirmButton: false,
                                timer: 3000
                            });

                            toastsuccess({
                                type: 'info',
                                title: 'Ocurrio un error.'
                            });
                        },

                    });
            } else {

                var toastsuccess = swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000
                });

                toastsuccess({
                    type: 'info',
                    title: 'Seleccione al menos un producto a devolver.'
                });
            }


        } else {

            //Alerta de validacion
            var toastsuccess = swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000
            });

            toastsuccess({
                type: 'info',
                title: 'Complete todos los campos.'
            });
        }


    }





</script>