
@{
    Layout = null;
  
}

<script>
    var categoria = "";
    var subcategoria = "";


    function seleccionarContribuyente(id) {
        if (id == '1') {
            document.getElementById("personaNatural").style.display = "block";
            document.getElementById("personaJuridica").style.display = "none";
        } else if (id == '2') {
            document.getElementById("personaJuridica").style.display = "block";
            document.getElementById("personaNatural").style.display = "none";
        }
    }

    function enviarDatos() {
        //funcion para guardar Cliente en tiempo real
        var nombre = $("#name").val();
        var correo = $("#email").val();
        var telefono = $("#telephone").val();
        var direccion = $("#direccion").val();
        var departamento = $("#departamento").val();
        var tipoContribuyente = $("#tipoContribuyente").val();

        var dui = "";
        var nrc = "";
        var contribuyente = "";
        var nit = "";
        var flag = 0;//Si la bandera es 0, no se valida.

        if (tipoContribuyente == "1") {
            nrc = "";
            contribuyente = "";
            nit = "";

            dui = $("#dui").val();

            if (nombre != "" && correo != "" && telefono != "" && direccion != "" && departamento != "" && tipoContribuyente != "" && dui != "") {
                flag = 1;
            }

        } else if (tipoContribuyente == "2") {
            dui = "";
            nrc = $("#nrc").val();
            contribuyente = $("#contribuyente").val();
            nit = $("#nit").val();

            if (nombre != "" && correo != "" && telefono != "" && direccion != "" && departamento != "" && tipoContribuyente != "" && nrc != "" && contribuyente != "" && nit != "") {
                flag = 1;
            }
        }


        if (flag == 1) {
            //ejecutamos AJAX
            $.ajax
                ({
                    url: '/Invoices/Save_newCustomer',
                    type: 'POST',
                    datatype: 'application/json',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        nombre: nombre,
                        correo: correo,
                        telefono: telefono,
                        direccion: direccion,
                        departamento: departamento,
                        tipoContribuyente: tipoContribuyente,
                        dui: dui,
                        nrc: nrc,
                        contribuyente: contribuyente,
                        nit: nit
                    }),
                    success: function (result) {
                        //result.flag - result.lstNuevoCliente
                        if (result.flag == "Success") {

                            $.each($.parseJSON(result.lstNuevoCliente), function (i, nuevocliente) {
                                $("#cliente").append($('<option selected></option>').val(nuevocliente.ID_customer).html("DUI: " + nuevocliente.DUI + " - NRC: " + nuevocliente.NRC + "- NOMBRE: " + nuevocliente.Nombre + ""));

                            }
                            )
                            var toastsuccess = swal.mixin({
                                toast: true,
                                position: 'top-end',
                                showConfirmButton: false,
                                timer: 3000
                            });

                            toastsuccess({
                                type: 'success',
                                title: 'Cliente creado exitosamente.'
                            });

                            $('#form-modal').modal('hide');
                            document.getElementById("clientenoexiste").style.display = "none";
                        } else { //Error try catch
                            var toasterror = swal.mixin({
                                toast: true,
                                position: 'top-end',
                                showConfirmButton: false,
                                timer: 3000
                            });

                            toasterror({
                                type: 'info',
                                title: 'Ocurrio un error. ' + result.flag 
                            });
                        }


                    },
                    error: function () {
                        var toasterror = swal.mixin({
                            toast: true,
                            position: 'top-end',
                            showConfirmButton: false,
                            timer: 3000
                        });

                        toasterror({
                            type: 'info',
                            title: 'Algo salio mal, favor intentar nuevamente.'
                        });
                    },
                });
        } else {

            var toast = swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000
            });

            toast({
                type: 'info',
                title: 'Por favor, complete todos los campos.'
            });
        }
     

     
    }

    //BUSQUEDA DE PRODUCTOS
    //Buscar por SKU
    function buscarProducto() {

        var sku = $("#codigosku").val();
        var descripcionprod = $("#descripcionprod").val();
        var codigobarras = $("#codigobarras").val();

        //SKU
        if (sku != "") {
            //ejecutamos AJAX
            $.ajax
                ({
                    url: '/Invoices/product_searchsku',
                    type: 'POST',
                    datatype: 'application/json',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        sku: sku
                    }),
                    success: function (result) {
                        //result.flag - result.lstNuevoCliente
                        if (result.flag == "Success") {
                            $("#listaproductos").html("");
                            
                            $.each($.parseJSON(result.lstProducts), function (i, producto) {
                                var estructura = "";

                                estructura += '<div class="col-xl-2 col-md-3 col-sm-6">'
                                estructura += '<div class="dt-card text-center">'
                                estructura += '<div class="dt-card__header px-5 mb-4">'
                                estructura += '<div class="dt-card__heading text-center">'
                                estructura += '<div class="dt-separator-h-v1 mb-2"></div>'
                                estructura += '<h3 class="mb-1">' + producto.Nombre_Producto + '</h3>'
                                estructura += '<span class="d-inline-block text-primary">$' + producto.Costo + '</span>'
                                estructura += '</div>'
                                estructura += '</div>'
                                estructura += '<div class="dt-card__body px-5">'
                                estructura += '<img class="img-fluid mb-7" src="~/Content/assets/images/widget/camera.jpg" alt="' + producto.Id_Producto +'">'
                                estructura += '<div>'
                                estructura += '<a href="javascript:void(0)" class="btn bg-brown text-uppercase text-white btn-sm">Add to Cart</a>'
                                estructura += '</div>'
                                estructura += '</div>'
                                estructura += '</div>'
                                estructura += '</div>'

                                $("#listaproductos").append(estructura);

                            }
                            )

                        } else { //Error try catch
                            var toasterror = swal.mixin({
                                toast: true,
                                position: 'top-end',
                                showConfirmButton: false,
                                timer: 3000
                            });

                            toasterror({
                                type: 'info',
                                title: 'Ocurrio un error. ' + result.flag
                            });
                        }


                    },
                    error: function () {
                        var toasterror = swal.mixin({
                            toast: true,
                            position: 'top-end',
                            showConfirmButton: false,
                            timer: 3000
                        });

                        toasterror({
                            type: 'info',
                            title: 'Algo salio mal, favor intentar nuevamente.'
                        });
                    },
                });
        }

        //Buscar por Descripcion
        if (descripcionprod != "") {
            //ejecutamos AJAX
            $.ajax
                ({
                    url: '/Invoices/product_searchdescription',
                    type: 'POST',
                    datatype: 'application/json',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        description: descripcionprod
                    }),
                    success: function (result) {
                        //result.flag - result.lstNuevoCliente
                        if (result.flag == "Success") {
                            $("#listaproductos").html("");

                            $.each($.parseJSON(result.lstProducts), function (i, producto) {
                                var estructura = "";

                                estructura += '<div class="col-xl-3 col-md-3 col-sm-6">'
                                estructura += '<div class="dt-card text-center">'
                                estructura += '<div class="dt-card__header px-5 mb-4">'
                                estructura += '<div class="dt-card__heading text-center">'
                                estructura += '<div class="dt-separator-h-v1 mb-2"></div>'
                                estructura += '<h3 class="mb-1">' + producto.Nombre_Producto + '</h3>'
                                estructura += '<span class="d-inline-block text-primary">$' + producto.Costo + '</span>'
                                estructura += '</div>'
                                estructura += '</div>'
                                estructura += '<div class="dt-card__body px-5">'
                                estructura += '<img class="img-fluid mb-7" src="~/Content/assets/images/widget/camera.jpg" alt="' + producto.Id_Producto + '">'
                                estructura += '<div>'
                                estructura += '<a href="javascript:void(0)" class="btn bg-brown text-uppercase text-white btn-sm">Add to Cart</a>'
                                estructura += '</div>'
                                estructura += '</div>'
                                estructura += '</div>'
                                estructura += '</div>'

                                $("#listaproductos").append(estructura);

                            }
                            )

                        } else { //Error try catch
                            var toasterror = swal.mixin({
                                toast: true,
                                position: 'top-end',
                                showConfirmButton: false,
                                timer: 3000
                            });

                            toasterror({
                                type: 'info',
                                title: 'Ocurrio un error. ' + result.flag
                            });
                        }


                    },
                    error: function () {
                        var toasterror = swal.mixin({
                            toast: true,
                            position: 'top-end',
                            showConfirmButton: false,
                            timer: 3000
                        });

                        toasterror({
                            type: 'info',
                            title: 'Algo salio mal, favor intentar nuevamente.'
                        });
                    },
                });
        }

        //Buscar por Codigo de barras        
        if (codigobarras != "") {
            //ejecutamos AJAX
            $.ajax
                ({
                    url: '/Invoices/product_searchcodigobarras',
                    type: 'POST',
                    datatype: 'application/json',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        codigobarras: codigobarras
                    }),
                    success: function (result) {
                        //result.flag - result.lstNuevoCliente
                        if (result.flag == "Success") {
                            $("#listaproductos").html("");

                            $.each($.parseJSON(result.lstProducts), function (i, producto) {
                                var estructura = "";
                                estructura += '<div class="col-xl-2 col-md-3 col-sm-6">'
                                estructura += '<div class="dt-card text-center">'
                                estructura += '<div class="dt-card__header px-5 mb-4">'
                                estructura += '<div class="text-center" style="height:90px;">'
                                //estructura += '<div class="dt-separator-h-v1 mb-2"></div>'
                                estructura += '<h5 class="mb-1">' + producto.Nombre_Producto + '</h5>'
                                estructura += '<h1 class="d-inline-block text-primary">$' + producto.Precio_Venta + '</h1>'
                                estructura += '</div>'
                                estructura += '</div>'
                                estructura += '<div class="dt-card__body px-5">'

                                estructura += '<img class="img-fluid mb-7" src="/Content/assets/images/no-image-icon.png" alt="' + producto.Id_Producto + '">'
                                estructura += '<div>'
                                estructura += '<a href="#" data-idproducto="' + producto.Id_Producto + '" data-precioproducto="' + producto.Precio_Venta + '" data-nombreproducto="' + producto.Nombre_Producto + '" data-toggle="modal" data-target="#form-modalProducto" class="btn bg-brown text-uppercase text-white btn-sm">Agregar a carrito</a>'
                                estructura += '</div>'
                                estructura += '</div>'
                                estructura += '</div>'
                                estructura += '</div>'

                                $("#listaproductos").append(estructura);
                                
                            }
                            )

                        } else { //Error try catch
                            var toasterror = swal.mixin({
                                toast: true,
                                position: 'top-end',
                                showConfirmButton: false,
                                timer: 3000
                            });

                            toasterror({
                                type: 'info',
                                title: 'Ocurrio un error. ' + result.flag
                            });
                        }


                    },
                    error: function () {
                        var toasterror = swal.mixin({
                            toast: true,
                            position: 'top-end',
                            showConfirmButton: false,
                            timer: 3000
                        });

                        toasterror({
                            type: 'info',
                            title: 'Algo salio mal, favor intentar nuevamente.'
                        });
                    },
                });

        }

    }

    //Buscar por Asistente
    function borrar1() {
        $("#descripcionprod").val("");
        $("#codigobarras").val("");
    }    function borrar2() {
        $("#codigosku").val("");
        $("#codigobarras").val("");
    }    function borrar3() {
        $("#codigosku").val("");
        $("#descripcionprod").val("");
    }
    //Filtros de categoria
    function filter(clicked_id) {
        $("#mainsub > *").css('display', 'none')
        var x = document.getElementById(clicked_id);
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
        brandfilter_clear();
        subfilter_clear();

        $("#mainbrands > *").css('display', 'none')

        $('.subbtnsl').removeClass('btnsel');
        $('.brandbtnsl').removeClass('btnsubsel');
        //$("#subfilter").css('display', 'block')

        categoria = clicked_id;

    }

    function filter_clear() {
        $("#mainsub > *").css('display', 'none')
        $("#mainbrands > *").css('display', 'none')
        $('.btnsl').removeClass('brandsbtnsl');
        $('.subbtnsl').removeClass('btnsel');
        $('.brandbtnsl').removeClass('btnsubsel');
        $("#listaproductos").html("");
    }
    function subfilter_clear() {
        $('.subbtnsl').removeClass('btnsel');
        $("#listaproductos").html("");
    }

    function subfilter(clicked_id) {
        $("#mainbrands > *").css('display', 'none')
        var x = document.getElementById(clicked_id);
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
        $('.brandbtnsl').removeClass('btnsubsel');
        brandfilter_clear();
        subcategoria = clicked_id;

        
    }

    function mostrar_productos() {
        var id_grupo = $("#sel_grupo").val();
        var id_linea = $("#sel_linea").val();
        var id_marca = $("#sel_marca").val();
        //ejecutamos AJAX
        $.ajax
            ({
                url: '/Invoices/product_searchasistente',
                type: 'POST',
                datatype: 'application/json',
                contentType: 'application/json',
                data: JSON.stringify({
                    categoria: id_grupo,
                    subcategoria: id_linea,
                    marca: id_marca
                }),
                success: function (result) {
                    //result.flag - result.lstNuevoCliente
                    if (result.flag == "Success") {
                        $("#listaproductos").html("");

                        $.each($.parseJSON(result.lstProducts), function (i, producto) {
                            var estructura = "";

                            estructura += '<div class="col-xl-2 col-md-3 col-sm-6">'
                            estructura += '<div class="dt-card text-center">'
                            estructura += '<div class="dt-card__header px-5 mb-4">'
                            estructura += '<div class="text-center" style="height:90px;">'
                            //estructura += '<div class="dt-separator-h-v1 mb-2"></div>'
                            estructura += '<h5 class="mb-1">' + producto.Nombre_Producto + '</h5>'
                            estructura += '<h1 class="d-inline-block text-primary">$' + producto.Precio_Venta + '</h1>'
                            estructura += '</div>'
                            estructura += '</div>'
                            estructura += '<div class="dt-card__body px-5">'
                            
                            estructura += '<img class="img-fluid mb-7" src="/Content/assets/images/no-image-icon.png" alt="' + producto.Id_Producto + '">'
                            estructura += '<div>'
                            estructura += '<a href="#" data-idproducto="' + producto.Id_Producto +'" data-precioproducto="' + producto.Precio_Venta +'" data-nombreproducto="' + producto.Nombre_Producto +'" data-toggle="modal" data-target="#form-modalProducto" class="btn bg-brown text-uppercase text-white btn-sm">Agregar a carrito</a>'
                            estructura += '</div>'
                            estructura += '</div>'
                            estructura += '</div>'
                            estructura += '</div>'

                            $("#listaproductos").append(estructura);

                        }
                        )

                    } else { //Error try catch
                        var toasterror = swal.mixin({
                            toast: true,
                            position: 'top-end',
                            showConfirmButton: false,
                            timer: 3000
                        });

                        toasterror({
                            type: 'info',
                            title: result.flag
                        });

                        $("#listaproductos").html("");
                    }


                },
                error: function () {
                    var toasterror = swal.mixin({
                        toast: true,
                        position: 'top-end',
                        showConfirmButton: false,
                        timer: 3000
                    });

                    toasterror({
                        type: 'info',
                        title: 'Algo salio mal, favor intentar nuevamente.'
                    });
                },
            });

    }

    function brandfilter_clear() {
        $('.brandbtnsl').removeClass('btnsubsel');
       
    }
    var owl = $('.dt-card-carousel .owl-carousel');


    function moveNext_slide() {
    
        owl.trigger('next.owl.carousel');
    
    }

    function movePrev_slide() {
        owl.trigger('prev.owl.carousel');
    }



    $(document).ready(function () {
        $("#mainsub > *").css('display', 'none')
        $("#mainbrands > *").css('display', 'none')


        $("#cantidad").bootstrapNumber();
    
    });

    $("#codigobarras").bind('paste', function (e) {
        var ctl = $(this);
        setTimeout(function () {
            buscarProducto();
        }, 100);
    });


    function filter_linea() {
        var id_grupo = $("#sel_grupo").val();
        $("#listaproductos").html("");

        $.ajax
            ({
                url: '/Invoices/Get_linea',
                type: 'POST',
                datatype: 'application/json',
                contentType: 'application/json',
                data: JSON.stringify({
                    id_grupo: id_grupo
                }),
                success: function (result) {

                    $("#sel_linea").html("");
                    $("#sel_marca").html("");
                    $("#sel_linea").append($('<option></option>').val(0).html("Seleccione una Linea"))
                    $.each($.parseJSON(result), function (i, linea) {

                        $("#sel_linea").append($('<option data-grupo=' + linea.id_grupo + '></option>').val(linea.id_linea).html(linea.linea));
                       
                    }

                    )

                },
                error: function () {
                  
                },
            });



    }

    function filter_marca() {
        var id_linea = $("#sel_linea").val();
        var id_grupo = $("#sel_linea").find(':selected').attr('data-grupo')
        $("#listaproductos").html("");
        $.ajax
            ({
                url: '/Invoices/Get_marca',
                type: 'POST',
                datatype: 'application/json',
                contentType: 'application/json',
                data: JSON.stringify({
                    id_linea: id_linea,
                    id_grupo: id_grupo
                }),
                success: function (result) {

                    $("#sel_marca").html("");
                    $("#sel_marca").append($('<option></option>').val(0).html("Seleccione una marca"))
                    $.each($.parseJSON(result), function (i, marca) {

                        $("#sel_marca").append($('<option data-linea=' + marca.id_linea + ' data-grupo=' + marca.id_grupo + '></option>').val(marca.id_marca).html(marca.marca));

                    }

                    )

                },
                error: function () {

                },
            });



    }
</script>

<script type="text/javascript">
    $(".disable-owl-swipe").on("touchstart mousedown", function (e) {
        // Prevent carousel swipe
        e.stopPropagation();
    })


    //MODAL SCRIPT

    $('#form-modalProducto').on('show.bs.modal', function (event) {

        var button = $(event.relatedTarget);// Button that triggered the modal

        var idproducto = button.data("idproducto");// Extract info from data-* attributes
        var producto = button.data("nombreproducto");// Extract info from data-* attributes
        var precio = button.data("precioproducto");

        var modal = $(this);

        $("#modal_titulo").text(producto);
        $("#precio_modal").text(precio);
        $("#precio_modalsub").text(precio);
        $("#total_modal").text(precio);
        $("#total_modalsub").text(precio);
        $("#idproducto").val(idproducto);
        $("#preciofijo").val(precio);
      
    });


    $("#cantidad").on("change", function () {
        var cantidad = parseInt($("#cantidad").val());
        var precio = parseFloat($("#preciofijo").val());
        var preciofijo = parseFloat($("#preciofijo").val());
        var descuento = parseFloat($("#descuento").val());
        var subtotal = parseFloat(cantidad * precio);
        $("#precio_modalsub").text(precio);
        $("#total_modalsub").text(subtotal.toFixed(2));
        $("#cantidad_modalsub").text(cantidad);


        if (isNaN(descuento) || descuento == "" || descuento == "0.0") {

            $("#total_modalsub").text(subtotal.toFixed(2));

            $("#cantidad_modal").text(cantidad);
            $("#descuento_total").text("0.00");
            $("#total_modal").text(subtotal.toFixed(2));
        } else {
            precio = parseFloat(precio - (precio * (descuento / 100)));
            var descuentoprecio = parseFloat((preciofijo * (descuento / 100)));
            $("#descuento_total").text(descuentoprecio.toFixed(2));
            var total = parseFloat(cantidad * precio);
            $("#precio_modal").text(precio.toFixed(2));
            $("#total_modal").text(total.toFixed(2));
        }


    })
    $("#descuento").on("change", function () {
        var cantidad = parseInt($("#cantidad").val());
        var precio = parseFloat($("#preciofijo").val());
        var preciofijo = parseFloat($("#preciofijo").val());
        var descuento = parseFloat($("#descuento").val());
        var subtotal = parseFloat(cantidad * precio);
        $("#precio_modalsub").text(precio);
        $("#total_modalsub").text(subtotal.toFixed(2));
        $("#cantidad_modalsub").text(cantidad);


        if (isNaN(descuento) || descuento == "" || descuento == "0.0") {

            $("#total_modalsub").text(subtotal.toFixed(2));

            $("#cantidad_modal").text(cantidad);
            $("#descuento_total").text("0.00");
            $("#total_modal").text(subtotal.toFixed(2));
        } else {
            precio = parseFloat(precio - (precio * (descuento / 100)));
            var descuentoprecio = parseFloat((preciofijo * (descuento / 100)));
            $("#descuento_total").text(descuentoprecio.toFixed(2));
            var total = parseFloat(cantidad * precio);
            $("#precio_modal").text(precio.toFixed(2));
            $("#total_modal").text(total.toFixed(2));
        }

    })


    function limpiarAgregar() {
        $("#cantidad_modal").text("0");
        $("#cantidad").val(1);

        $("#total_modal").text("0.00");
    }

    function agregarCarrito() {
        var idproducto = $("#idproducto").val();
        var nombreproducto = $("#modal_titulo").text();
        var cantidad = $("#cantidad_modal").text();
        var precio = $("#precio_modal").text();
        var total = $("#total_modal").text();

        //Agregar a carrito de compras
        var item_widget = "";
        item_widget += '<div class="dt-widget__item" id="widget_' + idproducto + '">';
        item_widget += '<div class="dt-widget__img"><img class="img-fluid" style="height:60px; width:60px;" src="https://via.placeholder.com/115x58"alt="Logo"></div>';
        item_widget += '<div class="dt-widget__info text-truncate">';
        item_widget += '<div class="dt-widget__title text-truncate"><a href="javascript:void(0);">' + nombreproducto +'</a></div>';
        item_widget += '<p class="dt-widget__subtitle text-truncate">$' + precio + ' x ' + cantidad + '</p>';
        item_widget += '<p class="dt-widget__subtitle text-truncate">Total: $<p class="totalwidget">' + total + '</p></p>';
        item_widget += '</div>';
        item_widget += '<div class="dt-widget__extra">';
        item_widget += '<div class="hide-content">';
        item_widget += '<div class="action-btn-group">';
        item_widget += '<button id="wbtn_' + idproducto + '" onclick="eliminarwidget(this.id)" class="btn btn-default text-danger dt-fab-btn"><i class="icon icon-circle-remove-o icon-1x"></i></button>';
        item_widget += ' </div>';
        item_widget += '</div>';
        item_widget += '</div>';
        item_widget += '</div>';

        $("#widgetprincipal").append(item_widget);
        $('#form-modalProducto').modal('hide');
        
        //Agregar a listado final
        var rowdt = "";




        //final
        limpiarAgregar();
        $("#iconshop").addClass("animation-customizer")

        sumarTotal();

    }

    function eliminarwidget(id) {
        var idbtn = id;      
        var idwidget = "#widget_" + idbtn.substring(5);
        $(idwidget).remove();

        contar_widgetshop();
        sumarTotal();
    }

    function contar_widgetshop() {
        var existe = $(".dt-widget__item").length;

        if (existe > 0) {

        } else {
            $("#iconshop").removeClass("animation-customizer")
        }

    }
    function moveNext_slidecheckout() {
        var existe = $(".dt-widget__item").length;

        if (existe > 0) {
            owl.trigger('next.owl.carousel');
        } else {
            var toasterror = swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000
            });

            toasterror({
                type: 'info',
                title: 'Agregue al menos un producto.'
            });
        }

           
    }
    function sumarTotal() {
        var total = 0.0;
        $.each($('.totalwidget'), function () {
            total += parseFloat($(this).text());
        });


        $("#totalorden_shopcart").text(total.toFixed(2));
    }
</script>